<ui:composition xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui = "http://java.sun.com/jsf/facelets"
xmlns:f = "http://java.sun.com/jsf/core"
xmlns:h = "http://java.sun.com/jsf/html"
xmlns:p="http://primefaces.org/ui"
xmlns:cc="http://java.sun.com/jsf/composite/components"
xmlns:s="http://commons.sklsft.org/ui/components"
template="/templates/template.xhtml">

<!-- -->
<!-- auto generated jsf file -->
<!-- write modifications between specific code marks -->
<!-- processed by skeleton-generator -->
<!-- -->

<f:metadata>
<f:viewParam name="id" value="#{userAccountDetailView.selectedUserAccount.id}" />
<f:viewAction action="#{userAccountDetailController.loadUserAccountNotificationPreferencesList}" />
</f:metadata>
<ui:define name="content">

<h:form id="userAccountNotificationPreferencesListForm">

<ui:include src="/sections/account/user-account/menu.xhtml"/>

<h:panelGroup id="userAccountNotificationPreferencesPanelGroup">

<h2>
#{i18n.userAccountNotificationPreferencesList} (#{userAccountDetailView.userAccountNotificationPreferencesScrollView.size})
</h2>
<div class="filter-panel">
<h3>
#{i18n.filters}
<p:commandLink action="#{userAccountDetailController.resetUserAccountNotificationPreferencesFilter}" process="@this" update="@form:userAccountNotificationPreferencesPanelGroup">
<h:graphicImage url="/resources/images/icons/refresh.png" styleClass="imageIcon" title="#{i18n.resetFilter}"/>
</p:commandLink>
</h3>
<div class="row row-eq-height">
<div class="col-xs-3">
<label>#{i18n.userAccountNotificationPreferencesActionTypeCode}</label>
<h:inputText
value="#{userAccountDetailView.userAccountNotificationPreferencesScrollForm.filter.actionTypeCode}"
styleClass="form-control">
<p:ajax event="keyup" update="resultsPanelGroup" listener="#{userAccountDetailController.refreshUserAccountNotificationPreferencesList}"/>
</h:inputText>
</div>

<div class="col-xs-3">
<label>#{i18n.userAccountNotificationPreferencesMailType}</label>
<h:inputText
value="#{userAccountDetailView.userAccountNotificationPreferencesScrollForm.filter.mailType}"
styleClass="form-control">
<p:ajax event="keyup" update="resultsPanelGroup" listener="#{userAccountDetailController.refreshUserAccountNotificationPreferencesList}"/>
</h:inputText>
</div>

</div>
</div>
<div class="results-panel">
<h:panelGroup id="resultsPanelGroup">
<ui:fragment rendered="#{userAccountDetailView.userAccountNotificationPreferencesScrollView.size == 0}">
#{i18n.noDataFound}<br/>
</ui:fragment>

<ui:fragment rendered="#{userAccountDetailView.userAccountNotificationPreferencesScrollView.size > 0}">

<s:tooltip for=".truncated-text"/>

<p:dataTable rows="10"
id="userAccountNotificationPreferencesList" var="userAccountNotificationPreferences" name="datatable"
value="#{userAccountDetailView.userAccountNotificationPreferencesScrollView.elements}" headerClass="datatable-header" rowClasses="datatable-row, datatable-row-light">

<p:column width="40">
<f:facet name="header">
<h:selectBooleanCheckbox id="selectUnselectAll" onclick="selectUnselectAll(this)" value="false"/>
<script>$(function(){displaySelectUnselectAll();});</script>
</f:facet>
<h:selectBooleanCheckbox  rendered="#{userAccountNotificationPreferences.canDelete}" id="selectUnselect" value="#{userAccountNotificationPreferences.selected}" onclick="selectUnselect('userAccountNotificationPreferencesListForm:userAccountNotificationPreferencesList:selectUnselectAll')"/>
</p:column>

<p:column width="100">
<f:facet name="header">
<h:outputText value="Actions" />
<div id="drop-list" class="drop-list">
<p:commandLink title="#{i18n.deleteSelection}" action="#{userAccountDetailController.deleteUserAccountNotificationPreferencesList}"
onclick="if (!confirm('#{i18n.confirmDeleteSelection}')) return false" process="@form:userAccountNotificationPreferencesPanelGroup" update=":messages, @form:userAccountNotificationPreferencesPanelGroup">
<span class="glyphicon glyphicon-trash"/>
</p:commandLink>
</div>

</f:facet>
<h:panelGrid styleClass="actions-grid" columns="2">
<p:commandLink action="#{userAccountDetailController.editUserAccountNotificationPreferences(userAccountNotificationPreferences.id)}" oncomplete="$('#userAccountNotificationPreferencesModal').modal('show')" process="@this" update="@form:userAccountNotificationPreferencesDetailPanelGroup">
<h:graphicImage url="/resources/images/icons/edit.png" styleClass="imageIcon" title="#{i18n.edit}"/>
</p:commandLink>
<p:commandLink action="#{userAccountDetailController.deleteUserAccountNotificationPreferences(userAccountNotificationPreferences.id)}"
rendered="#{userAccountNotificationPreferences.canDelete}"
onclick="if (!confirm('#{i18n.confirmDelete}')) return false" process="@this" update=":messages, @form:userAccountNotificationPreferencesPanelGroup">
<h:graphicImage url="/resources/images/icons/delete.png" styleClass="imageIcon" title="#{i18n.delete}"/>
</p:commandLink>
</h:panelGrid>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.userAccountNotificationPreferencesActionTypeCode}"
orderType="#{userAccountDetailView.userAccountNotificationPreferencesScrollForm.sorting.actionTypeCodeOrderType}"
action="#{userAccountDetailController.refreshUserAccountNotificationPreferencesList}"
render="@form:userAccountNotificationPreferencesPanelGroup"/>
</f:facet>
<h:outputText value="#{userAccountNotificationPreferences.actionTypeCode}"/>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.userAccountNotificationPreferencesMailType}"
orderType="#{userAccountDetailView.userAccountNotificationPreferencesScrollForm.sorting.mailTypeOrderType}"
action="#{userAccountDetailController.refreshUserAccountNotificationPreferencesList}"
render="@form:userAccountNotificationPreferencesPanelGroup"/>
</f:facet>
<h:outputText value="#{userAccountNotificationPreferences.mailType}"/>
</p:column>

</p:dataTable>

<cc:datatableScroller
page="#{userAccountDetailView.userAccountNotificationPreferencesScrollForm.page}"
numberOfPages="#{userAccountDetailView.userAccountNotificationPreferencesScrollView.numberOfPages}"
action="#{userAccountDetailController.refreshUserAccountNotificationPreferencesList}"
render="@form:userAccountNotificationPreferencesPanelGroup"/>

</ui:fragment>

</h:panelGroup>

</div>

<p:commandButton value="#{i18n.create}" action="#{userAccountDetailController.createUserAccountNotificationPreferences}" styleClass="btn btn-info" oncomplete="onSuccess(args, function(){$('#userAccountNotificationPreferencesModal').modal('show')});" process="@this" update="@form:userAccountNotificationPreferencesDetailPanelGroup"/>

<!-- Specific Code Start -->
<!-- Specific Code End -->

</h:panelGroup>

<div class="modal modal-default" id="userAccountNotificationPreferencesModal" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<ui:include src="/sections/account/user-account/user-account-notification-preferences/modal.xhtml"/>
</div>
</div>
</div>

</h:form>
<script>$('#user-account-notification-preferences-list-menu').addClass('active');</script>
</ui:define>
</ui:composition>
