<ui:composition xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:p="http://primefaces.org/ui">

<!-- -->
<!-- auto generated jsf file -->
<!-- write modifications between specific code marks -->
<!-- processed by skeleton-generator -->
<!-- -->

<div class="modal-header">
<h2>
#{i18n.userAccountNotificationPreferencesDetails}
</h2>
</div>

<div class="modal-body">
<h:panelGroup id="userAccountNotificationPreferencesDetailPanelGroup">

<ui:param name="view" value="#{userAccountDetailView.selectedUserAccountNotificationPreferences}"/>
<ui:param name="form" value="#{view.form}"/>

<div class="row">

<div class="col-xs-12">
<label>#{i18n.userAccountNotificationPreferencesActionTypeCode}</label>
<h:selectOneMenu id="userAccountNotificationPreferencesActionTypeCode" styleClass="form-control" value="#{form.actionTypeCode}">
<f:selectItem itemValue="#{null}" itemLabel=""/>
<f:selectItems value="#{commonView.actionTypeOptions}"
var="option" itemValue="#{option.key}" itemLabel="#{option.label}"/>
</h:selectOneMenu>
<h:message for="userAccountNotificationPreferencesActionTypeCode" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.userAccountNotificationPreferencesMailType}</label>
<h:inputText id="userAccountNotificationPreferencesMailType" styleClass="form-control" value="#{form.mailType}"/>
<h:message for="userAccountNotificationPreferencesMailType" styleClass="detail-error-message"/>
</div>

</div>

<p:commandButton value="#{i18n.save}" action="#{userAccountDetailController.saveUserAccountNotificationPreferences}" rendered="#{empty view.id}" styleClass="btn btn-success" process="@form:userAccountNotificationPreferencesDetailPanelGroup" update=":messages, @form:userAccountNotificationPreferencesPanelGroup, @form:userAccountNotificationPreferencesDetailPanelGroup" oncomplete="onSuccess(args, function(){$('#userAccountNotificationPreferencesModal').modal('hide')});"/>
<p:commandButton value="#{i18n.update}" action="#{userAccountDetailController.updateUserAccountNotificationPreferences}" rendered="#{not empty view.id}" disabled="#{not view.canUpdate}" styleClass="btn btn-success" process="@form:userAccountNotificationPreferencesDetailPanelGroup" update=":messages, @form:userAccountNotificationPreferencesPanelGroup, @form:userAccountNotificationPreferencesDetailPanelGroup" oncomplete="onSuccess(args, function(){$('#userAccountNotificationPreferencesModal').modal('hide')});"/>
<p:commandButton value="#{i18n.cancel}" actionListener="#{userAccountListController.resetForm}" styleClass="btn btn-info" immediate="true" process="@this" update=":messages, @form:userAccountNotificationPreferencesPanelGroup" oncomplete="$('#userAccountNotificationPreferencesModal').modal('hide')"/>

<!-- Specific Code Start -->
<!-- Specific Code End -->

</h:panelGroup>

</div>

</ui:composition>
