<ui:composition xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:p="http://primefaces.org/ui"
template="/templates/template.xhtml">

<!-- -->
<!-- auto generated jsf file -->
<!-- write modifications between specific code marks -->
<!-- processed by skeleton-generator -->
<!-- -->

<f:metadata>
<f:viewParam name="id" value="#{parameterTypeDetailView.selectedParameterType.id}" />
<f:viewAction action="#{parameterTypeDetailController.load}" />
</f:metadata>
<ui:define name="content">

<h:form>

<ui:include src="/sections/settings/parameter-type/menu.xhtml"/>

<h2>#{i18n.parameterTypeDetails}</h2>
<h:panelGroup id="parameterTypeDetailPanelGroup">

<ui:param name="view" value="#{parameterTypeDetailView.selectedParameterType}"/>
<ui:param name="form" value="#{view.form}"/>

<div class="row">
<div class="col-xs-12">
<label>#{i18n.parameterTypeCode}</label>
<h:inputText id="parameterTypeCode" styleClass="form-control" value="#{form.code}"/>
<h:message for="parameterTypeCode" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.parameterTypeDescription}</label>
<h:inputText id="parameterTypeDescription" styleClass="form-control" value="#{form.description}"/>
<h:message for="parameterTypeDescription" styleClass="detail-error-message"/>
</div>

</div>

<p:commandButton value="#{i18n.update}" disabled="#{not view.canUpdate}" action="#{parameterTypeDetailController.update}" styleClass="btn btn-success" process="@form" update=":messages, @form:parameterTypeDetailPanelGroup"/>
<!-- Specific Code Start -->
<!-- Specific Code End -->

</h:panelGroup>

</h:form>
<script>$('#menu').addClass('active');</script>
</ui:define>
</ui:composition>
