<ui:composition xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:f = "http://java.sun.com/jsf/core"
xmlns:h = "http://java.sun.com/jsf/html"
xmlns:p="http://primefaces.org/ui"
xmlns:cc="http://java.sun.com/jsf/composite/components"
xmlns:s="http://commons.sklsft.org/ui/components"
template="/templates/template.xhtml">

<!-- -->
<!-- auto generated jsf file -->
<!-- write modifications between specific code marks -->
<!-- processed by skeleton generator -->
<!-- -->

<f:metadata>
<f:viewAction action="#{parameterTypeListController.load}"/>
</f:metadata>
<ui:define name="content">

<h:form id="parameterTypeListForm">
<h:panelGroup id="parameterTypePanelGroup">
<h2>
#{i18n.parameterTypeList} (#{parameterTypeListView.scrollView.size})
</h2>
<div class="filter-panel">
<h3>
#{i18n.filters}
<p:commandLink action="#{parameterTypeListController.reset}" process="@this" update="@form:parameterTypePanelGroup">
<h:graphicImage url="/resources/images/icons/refresh.png" styleClass="imageIcon" title="#{i18n.resetFilter}"/>
</p:commandLink>
</h3>
<div class="row row-eq-height">
<div class="col-xs-3">
<label>#{i18n.parameterTypeCode}</label>
<h:inputText
value="#{parameterTypeListView.scrollForm.filter.code}"
styleClass="form-control">
<p:ajax event="keyup" update="resultsPanelGroup" listener="#{parameterTypeListController.refresh}"/>
</h:inputText>
</div>

<div class="col-xs-3">
<label>#{i18n.parameterTypeDescription}</label>
<h:inputText
value="#{parameterTypeListView.scrollForm.filter.description}"
styleClass="form-control">
<p:ajax event="keyup" update="resultsPanelGroup" listener="#{parameterTypeListController.refresh}"/>
</h:inputText>
</div>

</div>
</div>
<div class="results-panel">
<h:panelGroup id="resultsPanelGroup">
<ui:fragment rendered="#{parameterTypeListView.scrollView.elements.size() == 0}">
#{i18n.noDataFound}<br/>
</ui:fragment>

<ui:fragment rendered="#{parameterTypeListView.scrollView.elements.size() > 0}">
<s:tooltip for=".truncated-text"/>

<p:dataTable rows="10"
id="parameterTypeList" var="parameterType" name="datatable"
value="#{parameterTypeListView.scrollView.elements}" headerClass="datatable-header" rowClasses="datatable-row, datatable-row-light">

<p:column width="40">
<f:facet name="header">
<h:selectBooleanCheckbox id="selectUnselectAll" onclick="selectUnselectAll(this)" value="false"/>
<script>$(function(){displaySelectUnselectAll();});</script>
</f:facet>
<h:selectBooleanCheckbox rendered="#{parameterType.canDelete}" id="selectUnselect" value="#{parameterType.selected}" onclick="selectUnselect('parameterTypeListForm:parameterTypeList:selectUnselectAll')"/>
</p:column>

<p:column width="100">
<f:facet name="header">
<h:outputText value="Actions" />
<div class="drop-list" id="drop-list">
</div>
</f:facet>
<h:panelGrid styleClass="actions-grid" columns="2">
<p:commandLink action="#{parameterTypeListController.editParameterType(parameterType.id)}" oncomplete="$('#parameterTypeModal').modal('show')" process="@this" update="@form:parameterTypeDetailPanelGroup">
<h:graphicImage url="/resources/images/icons/edit.png" styleClass="imageIcon" title="#{i18n.edit}"/>
</p:commandLink>
</h:panelGrid>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.parameterTypeCode}"
orderType="#{parameterTypeListView.scrollForm.sorting.codeOrderType}"
action="#{parameterTypeListController.refresh}"
render="@form:parameterTypePanelGroup"/>
</f:facet>
<h:outputText value="#{parameterType.code}"/>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.parameterTypeDescription}"
orderType="#{parameterTypeListView.scrollForm.sorting.descriptionOrderType}"
action="#{parameterTypeListController.refresh}"
render="@form:parameterTypePanelGroup"/>
</f:facet>
<h:outputText value="#{parameterType.description}"/>
</p:column>

</p:dataTable>

<cc:datatableScroller
page="#{parameterTypeListView.scrollForm.page}"
numberOfPages="#{parameterTypeListView.scrollView.numberOfPages}"
action="#{parameterTypeListController.refresh}"
render="@form:parameterTypePanelGroup"/>

</ui:fragment>

</h:panelGroup>

</div>

<!-- Specific Code Start -->
<!-- Specific Code End -->
</h:panelGroup>

<div class="modal modal-default" id="parameterTypeModal" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<ui:include src="/sections/settings/parameter-type/modal.xhtml"/>
</div>
</div>
</div>
</h:form>
</ui:define>
</ui:composition>
