<ui:composition xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:p="http://primefaces.org/ui">

<!-- -->
<!-- auto generated jsf file -->
<!-- write modifications between specific code marks -->
<!-- processed by skeleton-generator -->
<!-- -->

<div class="modal-header">
<h2>
#{i18n.parameterTypeDetails}
</h2>
</div>

<div class="modal-body">

<h:panelGroup id="parameterTypeDetailPanelGroup">
<ui:param name="view" value="#{parameterTypeListView.selectedParameterType}"/>
<ui:param name="form" value="#{view.form}"/>

<div class="row">
<div class="col-xs-12">
<label>#{i18n.parameterTypeCode}</label>
<h:inputText id="parameterTypeCode" styleClass="form-control" value="#{form.code}"/>
<h:message for="parameterTypeCode" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.parameterTypeDescription}</label>
<h:inputText id="parameterTypeDescription" styleClass="form-control" value="#{form.description}"/>
<h:message for="parameterTypeDescription" styleClass="detail-error-message"/>
</div>

</div>

<p:commandButton value="#{i18n.update}" action="#{parameterTypeListController.update}" rendered="#{not empty view.id}" disabled="#{not view.canUpdate}" styleClass="btn btn-success" process="@form:parameterTypeDetailPanelGroup" update=":messages, @form:parameterTypePanelGroup, @form:parameterTypeDetailPanelGroup" oncomplete="onSuccess(args, function(){$('#parameterTypeModal').modal('hide')});"/>
<p:commandButton value="#{i18n.cancel}" actionListener="#{parameterTypeListController.resetForm}" styleClass="btn btn-info" immediate="true" process="@this" update="@form:parameterTypePanelGroup" oncomplete="$('#parameterTypeModal').modal('hide')"/>
<!-- Specific Code Start -->
<!-- Specific Code End -->

</h:panelGroup>

</div>

</ui:composition>
