<ui:composition xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:p="http://primefaces.org/ui"
template="/templates/template.xhtml">

<!-- -->
<!-- auto generated jsf file -->
<!-- write modifications between specific code marks -->
<!-- processed by skeleton-generator -->
<!-- -->

<f:metadata>
<f:viewParam name="id" value="#{userAccountDetailView.selectedUserAccount.id}" />
<f:viewAction action="#{userAccountDetailController.load}" />
</f:metadata>
<ui:define name="content">

<h:form>

<ui:include src="/sections/account/user-account/menu.xhtml"/>

<h2>#{i18n.userAccountDetails}</h2>
<h:panelGroup id="userAccountDetailPanelGroup">

<ui:param name="view" value="#{userAccountDetailView.selectedUserAccount}"/>
<ui:param name="form" value="#{view.form}"/>

<div class="row">
<div class="col-xs-12">
<label>#{i18n.userAccountEmail}</label>
<h:inputText id="userAccountEmail" styleClass="form-control" value="#{form.email}"/>
<h:message for="userAccountEmail" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.userAccountFirstName}</label>
<h:inputText id="userAccountFirstName" styleClass="form-control" value="#{form.firstName}"/>
<h:message for="userAccountFirstName" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.userAccountLastName}</label>
<h:inputText id="userAccountLastName" styleClass="form-control" value="#{form.lastName}"/>
<h:message for="userAccountLastName" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.userAccountCreationDate}</label>
<p:calendar id="userAccountCreationDate" class="form-control date-picker" value="#{form.creationDate}"
 pattern="yyyy-MM-dd HH:mm:ss" mask="true"
disabled="true"/>
<h:message for="userAccountCreationDate" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<div class="checkbox">
<label>
<h:selectBooleanCheckbox id="userAccountActivated" value="#{form.activated}"
readonly="false" disabled="false"/>
#{i18n.userAccountActivated}
</label>
</div>
</div>

<div class="col-xs-12">
<div class="checkbox">
<label>
<h:selectBooleanCheckbox id="userAccountEmailValidated" value="#{form.emailValidated}"
readonly="true" disabled="true"/>
#{i18n.userAccountEmailValidated}
</label>
</div>
</div>

<div class="col-xs-12">
<label>#{i18n.userAccountUserRole}</label>
<h:inputText id="userAccountUserRole" styleClass="form-control" value="#{form.userRole}"/>
<h:message for="userAccountUserRole" styleClass="detail-error-message"/>
</div>

</div>

<p:commandButton value="#{i18n.update}" disabled="#{not view.canUpdate}" action="#{userAccountDetailController.update}" styleClass="btn btn-success" process="@form" update=":messages, @form:userAccountDetailPanelGroup"/>
<!-- Specific Code Start -->
<!-- Specific Code End -->

</h:panelGroup>

</h:form>
<script>$('#menu').addClass('active');</script>
</ui:define>
</ui:composition>
