<ui:composition xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:f = "http://java.sun.com/jsf/core"
xmlns:h = "http://java.sun.com/jsf/html"
xmlns:p="http://primefaces.org/ui"
xmlns:cc="http://java.sun.com/jsf/composite/components"
xmlns:s="http://commons.sklsft.org/ui/components"
template="/templates/template.xhtml">

<!-- -->
<!-- auto generated jsf file -->
<!-- write modifications between specific code marks -->
<!-- processed by skeleton generator -->
<!-- -->

<f:metadata>
<f:viewAction action="#{userAccountListController.load}"/>
</f:metadata>
<ui:define name="content">

<h:form id="userAccountListForm">
<h:panelGroup id="userAccountPanelGroup">
<h2>
#{i18n.userAccountList} (#{userAccountListView.scrollView.size})
</h2>
<div class="filter-panel">
<h3>
#{i18n.filters}
<p:commandLink action="#{userAccountListController.reset}" process="@this" update="@form:userAccountPanelGroup">
<h:graphicImage url="/resources/images/icons/refresh.png" styleClass="imageIcon" title="#{i18n.resetFilter}"/>
</p:commandLink>
</h3>
<div class="row row-eq-height">
<div class="col-xs-3">
<label>#{i18n.userAccountEmail}</label>
<h:inputText
value="#{userAccountListView.scrollForm.filter.email}"
styleClass="form-control">
<p:ajax event="keyup" update="resultsPanelGroup" listener="#{userAccountListController.refresh}"/>
</h:inputText>
</div>

<div class="col-xs-3">
<label>#{i18n.userAccountFirstName}</label>
<h:inputText
value="#{userAccountListView.scrollForm.filter.firstName}"
styleClass="form-control">
<p:ajax event="keyup" update="resultsPanelGroup" listener="#{userAccountListController.refresh}"/>
</h:inputText>
</div>

<div class="col-xs-3">
<label>#{i18n.userAccountLastName}</label>
<h:inputText
value="#{userAccountListView.scrollForm.filter.lastName}"
styleClass="form-control">
<p:ajax event="keyup" update="resultsPanelGroup" listener="#{userAccountListController.refresh}"/>
</h:inputText>
</div>

<div class="col-xs-3">
<label>#{i18n.userAccountCreationDate}</label>
<p:calendar value="#{userAccountListView.scrollForm.filter.creationDateMinValue}"
class="form-control date-picker"
pattern="yyyy-MM-dd HH:mm:ss" mask="true">
<p:ajax event="dateSelect" update="resultsPanelGroup" listener="#{userAccountListController.refresh}"/>
</p:calendar>
<p:calendar value="#{userAccountListView.scrollForm.filter.creationDateMaxValue}"
class="form-control date-picker"
pattern="yyyy-MM-dd HH:mm:ss" mask="true">
<p:ajax event="dateSelect" update="resultsPanelGroup" listener="#{userAccountListController.refresh}"/>
</p:calendar>
</div>

<div class="col-xs-3">
<label>#{i18n.userAccountActivated}</label>
<h:selectOneMenu value="#{userAccountListView.scrollForm.filter.activated}" styleClass="form-control">
<f:selectItem itemLabel="" itemValue="#{null}"></f:selectItem>
<f:selectItem itemLabel="#{i18n.trueLabel}" itemValue="#{true}"></f:selectItem>
<f:selectItem itemLabel="#{i18n.falseLabel}" itemValue="#{false}"></f:selectItem>
<p:ajax event="change" update="resultsPanelGroup" listener="#{userAccountListController.refresh}"/>
</h:selectOneMenu>
</div>

<div class="col-xs-3">
<label>#{i18n.userAccountEmailValidated}</label>
<h:selectOneMenu value="#{userAccountListView.scrollForm.filter.emailValidated}" styleClass="form-control">
<f:selectItem itemLabel="" itemValue="#{null}"></f:selectItem>
<f:selectItem itemLabel="#{i18n.trueLabel}" itemValue="#{true}"></f:selectItem>
<f:selectItem itemLabel="#{i18n.falseLabel}" itemValue="#{false}"></f:selectItem>
<p:ajax event="change" update="resultsPanelGroup" listener="#{userAccountListController.refresh}"/>
</h:selectOneMenu>
</div>

<div class="col-xs-3">
<label>#{i18n.userAccountUserRole}</label>
<h:inputText
value="#{userAccountListView.scrollForm.filter.userRole}"
styleClass="form-control">
<p:ajax event="keyup" update="resultsPanelGroup" listener="#{userAccountListController.refresh}"/>
</h:inputText>
</div>

</div>
</div>
<div class="results-panel">
<h:panelGroup id="resultsPanelGroup">
<ui:fragment rendered="#{userAccountListView.scrollView.elements.size() == 0}">
#{i18n.noDataFound}<br/>
</ui:fragment>

<ui:fragment rendered="#{userAccountListView.scrollView.elements.size() > 0}">
<s:tooltip for=".truncated-text"/>

<p:dataTable rows="10"
id="userAccountList" var="userAccount" name="datatable"
value="#{userAccountListView.scrollView.elements}" headerClass="datatable-header" rowClasses="datatable-row, datatable-row-light">

<p:column width="40">
<f:facet name="header">
<h:selectBooleanCheckbox id="selectUnselectAll" onclick="selectUnselectAll(this)" value="false"/>
<script>$(function(){displaySelectUnselectAll();});</script>
</f:facet>
<h:selectBooleanCheckbox rendered="#{userAccount.canDelete}" id="selectUnselect" value="#{userAccount.selected}" onclick="selectUnselect('userAccountListForm:userAccountList:selectUnselectAll')"/>
</p:column>

<p:column width="100">
<f:facet name="header">
<h:outputText value="Actions" />
<div class="drop-list" id="drop-list">
<p:commandLink title="#{i18n.deleteSelection}" action="#{userAccountListController.deleteList}"
onclick="if (!confirm('#{i18n.confirmDeleteSelection}')) return false" process="@form:userAccountPanelGroup" update=":messages, @form:userAccountPanelGroup">
<span class="glyphicon glyphicon-trash"/>
</p:commandLink>
</div>
</f:facet>
<h:panelGrid styleClass="actions-grid" columns="2">
<h:link outcome="/sections/account/user-account/details.jsf">
<h:graphicImage url="/resources/images/icons/edit.png" styleClass="imageIcon" title="#{i18n.edit}"/>
<f:param name="id" value="#{userAccount.id}" />
</h:link>
<p:commandLink rendered="#{userAccount.canDelete}" action="#{userAccountListController.delete(userAccount.id)}"
onclick="if (!confirm('#{i18n.confirmDelete}')) return false" process="@this" update=":messages, @form:userAccountPanelGroup">
<h:graphicImage url="/resources/images/icons/delete.png" styleClass="imageIcon" title="#{i18n.delete}"/>
</p:commandLink>
</h:panelGrid>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.userAccountEmail}"
orderType="#{userAccountListView.scrollForm.sorting.emailOrderType}"
action="#{userAccountListController.refresh}"
render="@form:userAccountPanelGroup"/>
</f:facet>
<h:outputText value="#{userAccount.email}"/>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.userAccountFirstName}"
orderType="#{userAccountListView.scrollForm.sorting.firstNameOrderType}"
action="#{userAccountListController.refresh}"
render="@form:userAccountPanelGroup"/>
</f:facet>
<h:outputText value="#{userAccount.firstName}"/>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.userAccountLastName}"
orderType="#{userAccountListView.scrollForm.sorting.lastNameOrderType}"
action="#{userAccountListController.refresh}"
render="@form:userAccountPanelGroup"/>
</f:facet>
<h:outputText value="#{userAccount.lastName}"/>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.userAccountCreationDate}"
orderType="#{userAccountListView.scrollForm.sorting.creationDateOrderType}"
action="#{userAccountListController.refresh}"
render="@form:userAccountPanelGroup"/>
</f:facet>
<h:outputText value="#{userAccount.creationDate}">
<f:convertDateTime pattern="yyyy-MM-dd HH:mm:ss"/>
</h:outputText>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.userAccountActivated}"
orderType="#{userAccountListView.scrollForm.sorting.activatedOrderType}"
action="#{userAccountListController.refresh}"
render="@form:userAccountPanelGroup"/>
</f:facet>
<h:selectBooleanCheckbox value="#{userAccount.activated}" disabled="true"/>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.userAccountEmailValidated}"
orderType="#{userAccountListView.scrollForm.sorting.emailValidatedOrderType}"
action="#{userAccountListController.refresh}"
render="@form:userAccountPanelGroup"/>
</f:facet>
<h:selectBooleanCheckbox value="#{userAccount.emailValidated}" disabled="true"/>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.userAccountUserRole}"
orderType="#{userAccountListView.scrollForm.sorting.userRoleOrderType}"
action="#{userAccountListController.refresh}"
render="@form:userAccountPanelGroup"/>
</f:facet>
<h:outputText value="#{userAccount.userRole}"/>
</p:column>

</p:dataTable>

<cc:datatableScroller
page="#{userAccountListView.scrollForm.page}"
numberOfPages="#{userAccountListView.scrollView.numberOfPages}"
action="#{userAccountListController.refresh}"
render="@form:userAccountPanelGroup"/>

</ui:fragment>

</h:panelGroup>

</div>

<p:commandButton value="#{i18n.create}" action="#{userAccountListController.createUserAccount}" styleClass="btn btn-info" oncomplete="onSuccess(args, function(){$('#userAccountModal').modal('show')});" process="@this" update="userAccountDetailPanelGroup"/>

<!-- Specific Code Start -->
<!-- Specific Code End -->
</h:panelGroup>

<div class="modal modal-default" id="userAccountModal" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<ui:include src="/sections/account/user-account/modal.xhtml"/>
</div>
</div>
</div>
</h:form>
</ui:define>
</ui:composition>
