<ui:composition xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:h="http://java.sun.com/jsf/html">

<!-- -->
<!-- auto generated jsf file -->
<!-- write modifications between specific code marks -->
<!-- processed by skeleton-generator -->
<!-- -->

<ul class="nav nav-pills">
<li role="presentation" id="menu">
<h:link outcome="/sections/account/user-account/details.jsf">
<f:param name="id" value="#{userAccountDetailView.selectedUserAccount.id}" />
#{i18n.userAccountDetails}
</h:link>
</li>
<li role="presentation" id="user-account-notification-preferences-list-menu">
<h:link outcome="/sections/account/user-account/user-account-notification-preferences/list.jsf">
<f:param name="id" value="#{userAccountDetailView.selectedUserAccount.id}" />
#{i18n.userAccountNotificationPreferencesList}
</h:link>
</li>
<li role="presentation" id="organization-member-list-menu">
<h:link outcome="/sections/account/user-account/organization-member/list.jsf">
<f:param name="id" value="#{userAccountDetailView.selectedUserAccount.id}" />
#{i18n.organizationMemberList}
</h:link>
</li>
<li role="presentation" id="organization-guest-list-menu">
<h:link outcome="/sections/account/user-account/organization-guest/list.jsf">
<f:param name="id" value="#{userAccountDetailView.selectedUserAccount.id}" />
#{i18n.organizationGuestList}
</h:link>
</li>
</ul>
</ui:composition>
