<ui:composition xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:p="http://primefaces.org/ui">

<!-- -->
<!-- auto generated jsf file -->
<!-- write modifications between specific code marks -->
<!-- processed by skeleton-generator -->
<!-- -->

<div class="modal-header">
<h2>
#{i18n.userAccountDetails}
</h2>
</div>

<div class="modal-body">

<h:panelGroup id="userAccountDetailPanelGroup">
<ui:param name="view" value="#{userAccountListView.selectedUserAccount}"/>
<ui:param name="form" value="#{view.form}"/>

<div class="row">
<div class="col-xs-12">
<label>#{i18n.userAccountEmail}</label>
<h:inputText id="userAccountEmail" styleClass="form-control" value="#{form.email}"/>
<h:message for="userAccountEmail" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.userAccountFirstName}</label>
<h:inputText id="userAccountFirstName" styleClass="form-control" value="#{form.firstName}"/>
<h:message for="userAccountFirstName" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.userAccountLastName}</label>
<h:inputText id="userAccountLastName" styleClass="form-control" value="#{form.lastName}"/>
<h:message for="userAccountLastName" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.userAccountCreationDate}</label>
<p:calendar id="userAccountCreationDate" class="form-control date-picker" value="#{form.creationDate}"
 pattern="yyyy-MM-dd HH:mm:ss" mask="true"
disabled="true"/>
<h:message for="userAccountCreationDate" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<div class="checkbox">
<label>
<h:selectBooleanCheckbox id="userAccountActivated" value="#{form.activated}"
readonly="false" disabled="false"/>
#{i18n.userAccountActivated}
</label>
</div>
</div>

<div class="col-xs-12">
<div class="checkbox">
<label>
<h:selectBooleanCheckbox id="userAccountEmailValidated" value="#{form.emailValidated}"
readonly="true" disabled="true"/>
#{i18n.userAccountEmailValidated}
</label>
</div>
</div>

<div class="col-xs-12">
<label>#{i18n.userAccountUserRole}</label>
<h:inputText id="userAccountUserRole" styleClass="form-control" value="#{form.userRole}"/>
<h:message for="userAccountUserRole" styleClass="detail-error-message"/>
</div>

</div>

<p:commandButton value="#{i18n.save}" action="#{userAccountListController.save}" rendered="#{empty view.id}" styleClass="btn btn-success" process="@form:userAccountDetailPanelGroup" update=":messages, @form:userAccountPanelGroup, @form:userAccountDetailPanelGroup" oncomplete="onSuccess(args, function(){$('#userAccountModal').modal('hide')});"/>
<p:commandButton value="#{i18n.update}" action="#{userAccountListController.update}" rendered="#{not empty view.id}" disabled="#{not view.canUpdate}" styleClass="btn btn-success" process="@form:userAccountDetailPanelGroup" update=":messages, @form:userAccountPanelGroup, @form:userAccountDetailPanelGroup" oncomplete="onSuccess(args, function(){$('#userAccountModal').modal('hide')});"/>
<p:commandButton value="#{i18n.cancel}" actionListener="#{userAccountListController.resetForm}" styleClass="btn btn-info" immediate="true" process="@this" update="@form:userAccountPanelGroup" oncomplete="$('#userAccountModal').modal('hide')"/>
<!-- Specific Code Start -->
<!-- Specific Code End -->

</h:panelGroup>

</div>

</ui:composition>
