<ui:composition xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:p="http://primefaces.org/ui"
template="/templates/template.xhtml">

<!-- -->
<!-- auto generated jsf file -->
<!-- write modifications between specific code marks -->
<!-- processed by skeleton-generator -->
<!-- -->

<f:metadata>
<f:viewParam name="id" value="#{organizationDetailView.selectedOrganization.id}" />
<f:viewAction action="#{organizationDetailController.load}" />
</f:metadata>
<ui:define name="content">

<h:form>

<ui:include src="/sections/organization/organization/menu.xhtml"/>

<h2>#{i18n.organizationDetails}</h2>
<h:panelGroup id="organizationDetailPanelGroup">

<ui:param name="view" value="#{organizationDetailView.selectedOrganization}"/>
<ui:param name="form" value="#{view.form}"/>

<div class="row">
<div class="col-xs-12">
<label>#{i18n.organizationCode}</label>
<h:inputText id="organizationCode" styleClass="form-control" value="#{form.code}" disabled="true"/>
<h:message for="organizationCode" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.organizationName}</label>
<h:inputText id="organizationName" styleClass="form-control" value="#{form.name}"/>
<h:message for="organizationName" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.organizationDescription}</label>
<h:inputTextarea id="organizationDescription" styleClass="form-control" rows="10" value="#{form.description}"/>
<h:message for="organizationDescription" styleClass="detail-error-message"/>
</div>

</div>

<p:commandButton value="#{i18n.update}" disabled="#{not view.canUpdate}" action="#{organizationDetailController.update}" styleClass="btn btn-success" process="@form" update=":messages, @form:organizationDetailPanelGroup"/>
<!-- Specific Code Start -->
<!-- Specific Code End -->

</h:panelGroup>

</h:form>
<script>$('#menu').addClass('active');</script>
</ui:define>
</ui:composition>
