<ui:composition xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:f = "http://java.sun.com/jsf/core"
xmlns:h = "http://java.sun.com/jsf/html"
xmlns:p="http://primefaces.org/ui"
xmlns:cc="http://java.sun.com/jsf/composite/components"
xmlns:s="http://commons.sklsft.org/ui/components"
template="/templates/template.xhtml">

<!-- -->
<!-- auto generated jsf file -->
<!-- write modifications between specific code marks -->
<!-- processed by skeleton generator -->
<!-- -->

<f:metadata>
<f:viewAction action="#{organizationListController.load}"/>
</f:metadata>
<ui:define name="content">

<h:form id="organizationListForm">
<h:panelGroup id="organizationPanelGroup">
<h2>
#{i18n.organizationList} (#{organizationListView.scrollView.size})
</h2>
<div class="filter-panel">
<h3>
#{i18n.filters}
<p:commandLink action="#{organizationListController.reset}" process="@this" update="@form:organizationPanelGroup">
<h:graphicImage url="/resources/images/icons/refresh.png" styleClass="imageIcon" title="#{i18n.resetFilter}"/>
</p:commandLink>
</h3>
<div class="row row-eq-height">
<div class="col-xs-3">
<label>#{i18n.organizationCode}</label>
<h:inputText
value="#{organizationListView.scrollForm.filter.code}"
styleClass="form-control">
<p:ajax event="keyup" update="resultsPanelGroup" listener="#{organizationListController.refresh}"/>
</h:inputText>
</div>

<div class="col-xs-3">
<label>#{i18n.organizationName}</label>
<h:inputText
value="#{organizationListView.scrollForm.filter.name}"
styleClass="form-control">
<p:ajax event="keyup" update="resultsPanelGroup" listener="#{organizationListController.refresh}"/>
</h:inputText>
</div>

<div class="col-xs-3">
<label>#{i18n.organizationDescription}</label>
<h:inputText
value="#{organizationListView.scrollForm.filter.description}"
styleClass="form-control">
<p:ajax event="keyup" update="resultsPanelGroup" listener="#{organizationListController.refresh}"/>
</h:inputText>
</div>

</div>
</div>
<div class="results-panel">
<h:panelGroup id="resultsPanelGroup">
<ui:fragment rendered="#{organizationListView.scrollView.elements.size() == 0}">
#{i18n.noDataFound}<br/>
</ui:fragment>

<ui:fragment rendered="#{organizationListView.scrollView.elements.size() > 0}">
<s:tooltip for=".truncated-text"/>

<p:dataTable rows="10"
id="organizationList" var="organization" name="datatable"
value="#{organizationListView.scrollView.elements}" headerClass="datatable-header" rowClasses="datatable-row, datatable-row-light">

<p:column width="40">
<f:facet name="header">
<h:selectBooleanCheckbox id="selectUnselectAll" onclick="selectUnselectAll(this)" value="false"/>
<script>$(function(){displaySelectUnselectAll();});</script>
</f:facet>
<h:selectBooleanCheckbox rendered="#{organization.canDelete}" id="selectUnselect" value="#{organization.selected}" onclick="selectUnselect('organizationListForm:organizationList:selectUnselectAll')"/>
</p:column>

<p:column width="100">
<f:facet name="header">
<h:outputText value="Actions" />
<div class="drop-list" id="drop-list">
<p:commandLink title="#{i18n.deleteSelection}" action="#{organizationListController.deleteList}"
onclick="if (!confirm('#{i18n.confirmDeleteSelection}')) return false" process="@form:organizationPanelGroup" update=":messages, @form:organizationPanelGroup">
<span class="glyphicon glyphicon-trash"/>
</p:commandLink>
</div>
</f:facet>
<h:panelGrid styleClass="actions-grid" columns="2">
<h:link outcome="/sections/organization/organization/details.jsf">
<h:graphicImage url="/resources/images/icons/edit.png" styleClass="imageIcon" title="#{i18n.edit}"/>
<f:param name="id" value="#{organization.id}" />
</h:link>
<p:commandLink rendered="#{organization.canDelete}" action="#{organizationListController.delete(organization.id)}"
onclick="if (!confirm('#{i18n.confirmDelete}')) return false" process="@this" update=":messages, @form:organizationPanelGroup">
<h:graphicImage url="/resources/images/icons/delete.png" styleClass="imageIcon" title="#{i18n.delete}"/>
</p:commandLink>
</h:panelGrid>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.organizationCode}"
orderType="#{organizationListView.scrollForm.sorting.codeOrderType}"
action="#{organizationListController.refresh}"
render="@form:organizationPanelGroup"/>
</f:facet>
<h:outputText value="#{organization.code}"/>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.organizationName}"
orderType="#{organizationListView.scrollForm.sorting.nameOrderType}"
action="#{organizationListController.refresh}"
render="@form:organizationPanelGroup"/>
</f:facet>
<h:outputText value="#{organization.name}"/>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.organizationDescription}"
orderType="#{organizationListView.scrollForm.sorting.descriptionOrderType}"
action="#{organizationListController.refresh}"
render="@form:organizationPanelGroup"/>
</f:facet>
<pre class="truncated-text"
 data-toggle="tooltip"
 data-html="true"
 data-title='&lt;pre&gt;#{organization.description}&lt;/pre&gt;'
 data-placement="bottom"
 data-trigger="click">
#{organization.description}
</pre>
</p:column>

</p:dataTable>

<cc:datatableScroller
page="#{organizationListView.scrollForm.page}"
numberOfPages="#{organizationListView.scrollView.numberOfPages}"
action="#{organizationListController.refresh}"
render="@form:organizationPanelGroup"/>

</ui:fragment>

</h:panelGroup>

</div>

<p:commandButton value="#{i18n.create}" action="#{organizationListController.createOrganization}" styleClass="btn btn-info" oncomplete="onSuccess(args, function(){$('#organizationModal').modal('show')});" process="@this" update="organizationDetailPanelGroup"/>

<!-- Specific Code Start -->
<!-- Specific Code End -->
</h:panelGroup>

<div class="modal modal-default" id="organizationModal" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<ui:include src="/sections/organization/organization/modal.xhtml"/>
</div>
</div>
</div>
</h:form>
</ui:define>
</ui:composition>
