<ui:composition xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:p="http://primefaces.org/ui">

<!-- -->
<!-- auto generated jsf file -->
<!-- write modifications between specific code marks -->
<!-- processed by skeleton-generator -->
<!-- -->

<div class="modal-header">
<h2>
#{i18n.organizationDetails}
</h2>
</div>

<div class="modal-body">

<h:panelGroup id="organizationDetailPanelGroup">
<ui:param name="view" value="#{organizationListView.selectedOrganization}"/>
<ui:param name="form" value="#{view.form}"/>

<div class="row">
<div class="col-xs-12">
<label>#{i18n.organizationCode}</label>
<h:inputText id="organizationCode" styleClass="form-control" value="#{form.code}" disabled="true"/>
<h:message for="organizationCode" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.organizationName}</label>
<h:inputText id="organizationName" styleClass="form-control" value="#{form.name}"/>
<h:message for="organizationName" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.organizationDescription}</label>
<h:inputTextarea id="organizationDescription" styleClass="form-control" rows="10" value="#{form.description}"/>
<h:message for="organizationDescription" styleClass="detail-error-message"/>
</div>

</div>

<p:commandButton value="#{i18n.save}" action="#{organizationListController.save}" rendered="#{empty view.id}" styleClass="btn btn-success" process="@form:organizationDetailPanelGroup" update=":messages, @form:organizationPanelGroup, @form:organizationDetailPanelGroup" oncomplete="onSuccess(args, function(){$('#organizationModal').modal('hide')});"/>
<p:commandButton value="#{i18n.update}" action="#{organizationListController.update}" rendered="#{not empty view.id}" disabled="#{not view.canUpdate}" styleClass="btn btn-success" process="@form:organizationDetailPanelGroup" update=":messages, @form:organizationPanelGroup, @form:organizationDetailPanelGroup" oncomplete="onSuccess(args, function(){$('#organizationModal').modal('hide')});"/>
<p:commandButton value="#{i18n.cancel}" actionListener="#{organizationListController.resetForm}" styleClass="btn btn-info" immediate="true" process="@this" update="@form:organizationPanelGroup" oncomplete="$('#organizationModal').modal('hide')"/>
<!-- Specific Code Start -->
<!-- Specific Code End -->

</h:panelGroup>

</div>

</ui:composition>
