<ui:composition xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui = "http://java.sun.com/jsf/facelets"
xmlns:f = "http://java.sun.com/jsf/core"
xmlns:h = "http://java.sun.com/jsf/html"
xmlns:p="http://primefaces.org/ui"
xmlns:cc="http://java.sun.com/jsf/composite/components"
xmlns:s="http://commons.sklsft.org/ui/components"
template="/templates/template.xhtml">

<!-- -->
<!-- auto generated jsf file -->
<!-- write modifications between specific code marks -->
<!-- processed by skeleton-generator -->
<!-- -->

<f:metadata>
<f:viewParam name="id" value="#{organizationMemberDetailView.selectedOrganizationMember.id}" />
<f:viewAction action="#{organizationMemberDetailController.loadMemberNotificationPreferencesList}" />
</f:metadata>
<ui:define name="content">

<h:form id="memberNotificationPreferencesListForm">

<ui:include src="/sections/organization/organization-member/menu.xhtml"/>

<h:panelGroup id="memberNotificationPreferencesPanelGroup">

<h2>
#{i18n.memberNotificationPreferencesList} (#{organizationMemberDetailView.memberNotificationPreferencesScrollView.size})
</h2>
<div class="filter-panel">
<h3>
#{i18n.filters}
<p:commandLink action="#{organizationMemberDetailController.resetMemberNotificationPreferencesFilter}" process="@this" update="@form:memberNotificationPreferencesPanelGroup">
<h:graphicImage url="/resources/images/icons/refresh.png" styleClass="imageIcon" title="#{i18n.resetFilter}"/>
</p:commandLink>
</h3>
<div class="row row-eq-height">
<div class="col-xs-3">
<label>#{i18n.memberNotificationPreferencesActionTypeCode}</label>
<h:inputText
value="#{organizationMemberDetailView.memberNotificationPreferencesScrollForm.filter.actionTypeCode}"
styleClass="form-control">
<p:ajax event="keyup" update="resultsPanelGroup" listener="#{organizationMemberDetailController.refreshMemberNotificationPreferencesList}"/>
</h:inputText>
</div>

<div class="col-xs-3">
<label>#{i18n.memberNotificationPreferencesMailType}</label>
<h:inputText
value="#{organizationMemberDetailView.memberNotificationPreferencesScrollForm.filter.mailType}"
styleClass="form-control">
<p:ajax event="keyup" update="resultsPanelGroup" listener="#{organizationMemberDetailController.refreshMemberNotificationPreferencesList}"/>
</h:inputText>
</div>

</div>
</div>
<div class="results-panel">
<h:panelGroup id="resultsPanelGroup">
<ui:fragment rendered="#{organizationMemberDetailView.memberNotificationPreferencesScrollView.size == 0}">
#{i18n.noDataFound}<br/>
</ui:fragment>

<ui:fragment rendered="#{organizationMemberDetailView.memberNotificationPreferencesScrollView.size > 0}">

<s:tooltip for=".truncated-text"/>

<p:dataTable rows="10"
id="memberNotificationPreferencesList" var="memberNotificationPreferences" name="datatable"
value="#{organizationMemberDetailView.memberNotificationPreferencesScrollView.elements}" headerClass="datatable-header" rowClasses="datatable-row, datatable-row-light">

<p:column width="40">
<f:facet name="header">
<h:selectBooleanCheckbox id="selectUnselectAll" onclick="selectUnselectAll(this)" value="false"/>
<script>$(function(){displaySelectUnselectAll();});</script>
</f:facet>
<h:selectBooleanCheckbox  rendered="#{memberNotificationPreferences.canDelete}" id="selectUnselect" value="#{memberNotificationPreferences.selected}" onclick="selectUnselect('memberNotificationPreferencesListForm:memberNotificationPreferencesList:selectUnselectAll')"/>
</p:column>

<p:column width="100">
<f:facet name="header">
<h:outputText value="Actions" />
<div id="drop-list" class="drop-list">
</div>

</f:facet>
<h:panelGrid styleClass="actions-grid" columns="2">
<p:commandLink action="#{organizationMemberDetailController.editMemberNotificationPreferences(memberNotificationPreferences.id)}" oncomplete="$('#memberNotificationPreferencesModal').modal('show')" update="@form:memberNotificationPreferencesDetailPanelGroup">
<h:graphicImage url="/resources/images/icons/edit.png" styleClass="imageIcon" title="#{i18n.edit}"/>
</p:commandLink>
</h:panelGrid>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.memberNotificationPreferencesActionTypeCode}"
orderType="#{organizationMemberDetailView.memberNotificationPreferencesScrollForm.sorting.actionTypeCodeOrderType}"
action="#{organizationMemberDetailController.refreshMemberNotificationPreferencesList}"
render="@form:memberNotificationPreferencesPanelGroup"/>
</f:facet>
<h:outputText value="#{memberNotificationPreferences.actionTypeCode}"/>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.memberNotificationPreferencesMailType}"
orderType="#{organizationMemberDetailView.memberNotificationPreferencesScrollForm.sorting.mailTypeOrderType}"
action="#{organizationMemberDetailController.refreshMemberNotificationPreferencesList}"
render="@form:memberNotificationPreferencesPanelGroup"/>
</f:facet>
<h:outputText value="#{memberNotificationPreferences.mailType}"/>
</p:column>

</p:dataTable>

<cc:datatableScroller
page="#{organizationMemberDetailView.memberNotificationPreferencesScrollForm.page}"
numberOfPages="#{organizationMemberDetailView.memberNotificationPreferencesScrollView.numberOfPages}"
action="#{organizationMemberDetailController.refreshMemberNotificationPreferencesList}"
render="@form:memberNotificationPreferencesPanelGroup"/>

</ui:fragment>

</h:panelGroup>

</div>

<!-- Specific Code Start -->
<!-- Specific Code End -->

</h:panelGroup>

<div class="modal modal-default" id="memberNotificationPreferencesModal" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<ui:include src="/sections/organization/organization-member/member-notification-preferences/modal.xhtml"/>
</div>
</div>
</div>

</h:form>
<script>$('#member-notification-preferences-list-menu').addClass('active');</script>
</ui:define>
</ui:composition>
