<ui:composition xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:p="http://primefaces.org/ui">

<!-- -->
<!-- auto generated jsf file -->
<!-- write modifications between specific code marks -->
<!-- processed by skeleton-generator -->
<!-- -->

<div class="modal-header">
<h2>
#{i18n.memberNotificationPreferencesDetail}
</h2>
</div>

<div class="modal-body">
<h:panelGroup id="memberNotificationPreferencesDetailPanelGroup">

<ui:param name="view" value="#{organizationMemberDetailView.selectedMemberNotificationPreferences}"/>
<ui:param name="form" value="#{view.form}"/>

<div class="row">

<div class="col-xs-12">
<label>#{i18n.memberNotificationPreferencesActionTypeCode}</label>
<h:selectOneMenu id="memberNotificationPreferencesActionTypeCode" styleClass="form-control" value="#{form.actionTypeCode}" disabled="true">
<f:selectItem itemValue="#{null}" itemLabel=""/>
<f:selectItems value="#{commonView.actionTypeOptions}"
var="option" itemValue="#{option.key}" itemLabel="#{option.label}"/>
</h:selectOneMenu>
<h:message for="memberNotificationPreferencesActionTypeCode" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.memberNotificationPreferencesMailType}</label>
<h:inputText id="memberNotificationPreferencesMailType" styleClass="form-control" value="#{form.mailType}" disabled="true"/>
<h:message for="memberNotificationPreferencesMailType" styleClass="detail-error-message"/>
</div>

</div>

<p:commandButton value="#{i18n.cancel}" actionListener="#{organizationMemberListController.resetForm}" styleClass="btn btn-info" immediate="true" process="@this" update=":messages, @form:memberNotificationPreferencesPanelGroup" oncomplete="$('#memberNotificationPreferencesModal').modal('hide')"/>

<!-- Specific Code Start -->
<!-- Specific Code End -->

</h:panelGroup>

</div>

</ui:composition>
