<ui:composition xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui = "http://java.sun.com/jsf/facelets"
xmlns:f = "http://java.sun.com/jsf/core"
xmlns:h = "http://java.sun.com/jsf/html"
xmlns:p="http://primefaces.org/ui"
xmlns:cc="http://java.sun.com/jsf/composite/components"
xmlns:s="http://commons.sklsft.org/ui/components"
template="/templates/template.xhtml">

<!-- -->
<!-- auto generated jsf file -->
<!-- write modifications between specific code marks -->
<!-- processed by skeleton-generator -->
<!-- -->

<f:metadata>
<f:viewParam name="id" value="#{organizationDetailView.selectedOrganization.id}" />
<f:viewAction action="#{organizationDetailController.loadOrganizationGuestList}" />
</f:metadata>
<ui:define name="content">

<h:form id="organizationGuestListForm">

<ui:include src="/sections/organization/organization/menu.xhtml"/>

<h:panelGroup id="organizationGuestPanelGroup">

<h2>
#{i18n.organizationGuestList} (#{organizationDetailView.organizationGuestScrollView.size})
</h2>
<div class="filter-panel">
<h3>
#{i18n.filters}
<p:commandLink action="#{organizationDetailController.resetOrganizationGuestFilter}" process="@this" update="@form:organizationGuestPanelGroup">
<h:graphicImage url="/resources/images/icons/refresh.png" styleClass="imageIcon" title="#{i18n.resetFilter}"/>
</p:commandLink>
</h3>
<div class="row row-eq-height">
<div class="col-xs-3">
<label>#{i18n.organizationGuestEmail}</label>
<h:inputText
value="#{organizationDetailView.organizationGuestScrollForm.filter.email}"
styleClass="form-control">
<p:ajax event="keyup" update="resultsPanelGroup" listener="#{organizationDetailController.refreshOrganizationGuestList}"/>
</h:inputText>
</div>

<div class="col-xs-3">
<label>#{i18n.organizationGuestUserAccountEmail}</label>
<h:inputText
value="#{organizationDetailView.organizationGuestScrollForm.filter.userAccountEmail}"
styleClass="form-control">
<p:ajax event="keyup" update="resultsPanelGroup" listener="#{organizationDetailController.refreshOrganizationGuestList}"/>
</h:inputText>
</div>

<div class="col-xs-3">
<label>#{i18n.organizationGuestRole}</label>
<h:inputText
value="#{organizationDetailView.organizationGuestScrollForm.filter.role}"
styleClass="form-control">
<p:ajax event="keyup" update="resultsPanelGroup" listener="#{organizationDetailController.refreshOrganizationGuestList}"/>
</h:inputText>
</div>

<div class="col-xs-3">
<label>#{i18n.organizationGuestPosition}</label>
<h:inputText
value="#{organizationDetailView.organizationGuestScrollForm.filter.position}"
styleClass="form-control">
<p:ajax event="keyup" update="resultsPanelGroup" listener="#{organizationDetailController.refreshOrganizationGuestList}"/>
</h:inputText>
</div>

</div>
</div>
<div class="results-panel">
<h:panelGroup id="resultsPanelGroup">
<ui:fragment rendered="#{organizationDetailView.organizationGuestScrollView.size == 0}">
#{i18n.noDataFound}<br/>
</ui:fragment>

<ui:fragment rendered="#{organizationDetailView.organizationGuestScrollView.size > 0}">

<s:tooltip for=".truncated-text"/>

<p:dataTable rows="10"
id="organizationGuestList" var="organizationGuest" name="datatable"
value="#{organizationDetailView.organizationGuestScrollView.elements}" headerClass="datatable-header" rowClasses="datatable-row, datatable-row-light">

<p:column width="40">
<f:facet name="header">
<h:selectBooleanCheckbox id="selectUnselectAll" onclick="selectUnselectAll(this)" value="false"/>
<script>$(function(){displaySelectUnselectAll();});</script>
</f:facet>
<h:selectBooleanCheckbox  rendered="#{organizationGuest.canDelete}" id="selectUnselect" value="#{organizationGuest.selected}" onclick="selectUnselect('organizationGuestListForm:organizationGuestList:selectUnselectAll')"/>
</p:column>

<p:column width="100">
<f:facet name="header">
<h:outputText value="Actions" />
<div id="drop-list" class="drop-list">
<p:commandLink title="#{i18n.deleteSelection}" action="#{organizationDetailController.deleteOrganizationGuestList}"
onclick="if (!confirm('#{i18n.confirmDeleteSelection}')) return false" process="@form:organizationGuestPanelGroup" update=":messages, @form:organizationGuestPanelGroup">
<span class="glyphicon glyphicon-trash"/>
</p:commandLink>
</div>

</f:facet>
<h:panelGrid styleClass="actions-grid" columns="2">
<p:commandLink action="#{organizationDetailController.editOrganizationGuest(organizationGuest.id)}" oncomplete="$('#organizationGuestModal').modal('show')" process="@this" update="@form:organizationGuestDetailPanelGroup">
<h:graphicImage url="/resources/images/icons/edit.png" styleClass="imageIcon" title="#{i18n.edit}"/>
</p:commandLink>
<p:commandLink action="#{organizationDetailController.deleteOrganizationGuest(organizationGuest.id)}"
rendered="#{organizationGuest.canDelete}"
onclick="if (!confirm('#{i18n.confirmDelete}')) return false" process="@this" update=":messages, @form:organizationGuestPanelGroup">
<h:graphicImage url="/resources/images/icons/delete.png" styleClass="imageIcon" title="#{i18n.delete}"/>
</p:commandLink>
</h:panelGrid>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.organizationGuestEmail}"
orderType="#{organizationDetailView.organizationGuestScrollForm.sorting.emailOrderType}"
action="#{organizationDetailController.refreshOrganizationGuestList}"
render="@form:organizationGuestPanelGroup"/>
</f:facet>
<h:outputText value="#{organizationGuest.email}"/>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.organizationGuestUserAccountEmail}"
orderType="#{organizationDetailView.organizationGuestScrollForm.sorting.userAccountEmailOrderType}"
action="#{organizationDetailController.refreshOrganizationGuestList}"
render="@form:organizationGuestPanelGroup"/>
</f:facet>
<h:outputText value="#{organizationGuest.userAccountEmail}"/>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.organizationGuestRole}"
orderType="#{organizationDetailView.organizationGuestScrollForm.sorting.roleOrderType}"
action="#{organizationDetailController.refreshOrganizationGuestList}"
render="@form:organizationGuestPanelGroup"/>
</f:facet>
<h:outputText value="#{organizationGuest.role}"/>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.organizationGuestPosition}"
orderType="#{organizationDetailView.organizationGuestScrollForm.sorting.positionOrderType}"
action="#{organizationDetailController.refreshOrganizationGuestList}"
render="@form:organizationGuestPanelGroup"/>
</f:facet>
<h:outputText value="#{organizationGuest.position}"/>
</p:column>

</p:dataTable>

<cc:datatableScroller
page="#{organizationDetailView.organizationGuestScrollForm.page}"
numberOfPages="#{organizationDetailView.organizationGuestScrollView.numberOfPages}"
action="#{organizationDetailController.refreshOrganizationGuestList}"
render="@form:organizationGuestPanelGroup"/>

</ui:fragment>

</h:panelGroup>

</div>

<p:commandButton value="#{i18n.create}" action="#{organizationDetailController.createOrganizationGuest}" styleClass="btn btn-info" oncomplete="onSuccess(args, function(){$('#organizationGuestModal').modal('show')});" process="@this" update="@form:organizationGuestDetailPanelGroup"/>

<!-- Specific Code Start -->
<!-- Specific Code End -->

</h:panelGroup>

<div class="modal modal-default" id="organizationGuestModal" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<ui:include src="/sections/organization/organization/organization-guest/modal.xhtml"/>
</div>
</div>
</div>

</h:form>
<script>$('#organization-guest-list-menu').addClass('active');</script>
</ui:define>
</ui:composition>
