<ui:composition xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:p="http://primefaces.org/ui"
template="/templates/template.xhtml">

<!-- -->
<!-- auto generated jsf file -->
<!-- write modifications between specific code marks -->
<!-- processed by skeleton-generator -->
<!-- -->

<f:metadata>
<f:viewParam name="id" value="#{organizationMemberDetailView.selectedOrganizationMember.id}" />
<f:viewAction action="#{organizationMemberDetailController.load}" />
</f:metadata>
<ui:define name="content">

<h:form>

<ui:include src="/sections/organization/organization-member/menu.xhtml"/>

<h2>#{i18n.organizationMemberDetails}</h2>
<h:panelGroup id="organizationMemberDetailPanelGroup">

<ui:param name="view" value="#{organizationMemberDetailView.selectedOrganizationMember}"/>
<ui:param name="form" value="#{view.form}"/>

<div class="row">
<div class="col-xs-12">
<label>#{i18n.organizationMemberOrganizationCode}</label>
<p:autoComplete id="organizationMemberOrganizationCode" styleClass="form-control" value="#{form.organizationCode}"
 completeMethod="#{commonController.searchOrganizationOptions}"/>
<h:message for="organizationMemberOrganizationCode" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.organizationMemberUserAccountEmail}</label>
<p:autoComplete id="organizationMemberUserAccountEmail" styleClass="form-control" value="#{form.userAccountEmail}"
 completeMethod="#{commonController.searchUserAccountOptions}"/>
<h:message for="organizationMemberUserAccountEmail" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.organizationMemberRole}</label>
<h:inputText id="organizationMemberRole" styleClass="form-control" value="#{form.role}"/>
<h:message for="organizationMemberRole" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.organizationMemberPosition}</label>
<h:inputText id="organizationMemberPosition" styleClass="form-control" value="#{form.position}"/>
<h:message for="organizationMemberPosition" styleClass="detail-error-message"/>
</div>

</div>

<p:commandButton value="#{i18n.update}" disabled="#{not view.canUpdate}" action="#{organizationMemberDetailController.update}" styleClass="btn btn-success" process="@form" update=":messages, @form:organizationMemberDetailPanelGroup"/>
<!-- Specific Code Start -->
<!-- Specific Code End -->

</h:panelGroup>

</h:form>
<script>$('#menu').addClass('active');</script>
</ui:define>
</ui:composition>
