<ui:composition xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:p="http://primefaces.org/ui">

<!-- -->
<!-- auto generated jsf file -->
<!-- write modifications between specific code marks -->
<!-- processed by skeleton-generator -->
<!-- -->

<div class="modal-header">
<h2>
#{i18n.organizationMemberDetails}
</h2>
</div>

<div class="modal-body">

<h:panelGroup id="organizationMemberDetailPanelGroup">
<ui:param name="view" value="#{organizationMemberListView.selectedOrganizationMember}"/>
<ui:param name="form" value="#{view.form}"/>

<div class="row">
<div class="col-xs-12">
<label>#{i18n.organizationMemberOrganizationCode}</label>
<p:autoComplete id="organizationMemberOrganizationCode" styleClass="form-control" value="#{form.organizationCode}"
 completeMethod="#{commonController.searchOrganizationOptions}"/>
<h:message for="organizationMemberOrganizationCode" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.organizationMemberUserAccountEmail}</label>
<p:autoComplete id="organizationMemberUserAccountEmail" styleClass="form-control" value="#{form.userAccountEmail}"
 completeMethod="#{commonController.searchUserAccountOptions}"/>
<h:message for="organizationMemberUserAccountEmail" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.organizationMemberRole}</label>
<h:inputText id="organizationMemberRole" styleClass="form-control" value="#{form.role}"/>
<h:message for="organizationMemberRole" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.organizationMemberPosition}</label>
<h:inputText id="organizationMemberPosition" styleClass="form-control" value="#{form.position}"/>
<h:message for="organizationMemberPosition" styleClass="detail-error-message"/>
</div>

</div>

<p:commandButton value="#{i18n.save}" action="#{organizationMemberListController.save}" rendered="#{empty view.id}" styleClass="btn btn-success" process="@form:organizationMemberDetailPanelGroup" update=":messages, @form:organizationMemberPanelGroup, @form:organizationMemberDetailPanelGroup" oncomplete="onSuccess(args, function(){$('#organizationMemberModal').modal('hide')});"/>
<p:commandButton value="#{i18n.update}" action="#{organizationMemberListController.update}" rendered="#{not empty view.id}" disabled="#{not view.canUpdate}" styleClass="btn btn-success" process="@form:organizationMemberDetailPanelGroup" update=":messages, @form:organizationMemberPanelGroup, @form:organizationMemberDetailPanelGroup" oncomplete="onSuccess(args, function(){$('#organizationMemberModal').modal('hide')});"/>
<p:commandButton value="#{i18n.cancel}" actionListener="#{organizationMemberListController.resetForm}" styleClass="btn btn-info" immediate="true" process="@this" update="@form:organizationMemberPanelGroup" oncomplete="$('#organizationMemberModal').modal('hide')"/>
<!-- Specific Code Start -->
<!-- Specific Code End -->

</h:panelGroup>

</div>

</ui:composition>
