<ui:composition xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:p="http://primefaces.org/ui"
template="/templates/template.xhtml">

<!-- -->
<!-- auto generated jsf file -->
<!-- write modifications between specific code marks -->
<!-- processed by skeleton-generator -->
<!-- -->

<f:metadata>
<f:viewParam name="id" value="#{keywordDetailView.selectedKeyword.id}" />
<f:viewAction action="#{keywordDetailController.load}" />
</f:metadata>
<ui:define name="content">

<h:form>

<ui:include src="/sections/nomenclature/keyword/menu.xhtml"/>

<h2>#{i18n.keywordDetails}</h2>
<h:panelGroup id="keywordDetailPanelGroup">

<ui:param name="view" value="#{keywordDetailView.selectedKeyword}"/>
<ui:param name="form" value="#{view.form}"/>

<div class="row">
<div class="col-xs-12">
<label>#{i18n.keywordCanonicalLabel}</label>
<h:inputText id="keywordCanonicalLabel" styleClass="form-control" value="#{form.canonicalLabel}" disabled="true"/>
<h:message for="keywordCanonicalLabel" styleClass="detail-error-message"/>
</div>

</div>

<!-- Specific Code Start -->
<!-- Specific Code End -->

</h:panelGroup>

</h:form>
<script>$('#menu').addClass('active');</script>
</ui:define>
</ui:composition>
