<ui:composition xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:f = "http://java.sun.com/jsf/core"
xmlns:h = "http://java.sun.com/jsf/html"
xmlns:p="http://primefaces.org/ui"
xmlns:cc="http://java.sun.com/jsf/composite/components"
xmlns:s="http://commons.sklsft.org/ui/components"
template="/templates/template.xhtml">

<!-- -->
<!-- auto generated jsf file -->
<!-- write modifications between specific code marks -->
<!-- processed by skeleton generator -->
<!-- -->

<f:metadata>
<f:viewAction action="#{keywordListController.load}"/>
</f:metadata>
<ui:define name="content">

<h:form id="keywordListForm">
<h:panelGroup id="keywordPanelGroup">
<h2>
#{i18n.keywordList} (#{keywordListView.scrollView.size})
</h2>
<div class="filter-panel">
<h3>
#{i18n.filters}
<p:commandLink action="#{keywordListController.reset}" process="@this" update="@form:keywordPanelGroup">
<h:graphicImage url="/resources/images/icons/refresh.png" styleClass="imageIcon" title="#{i18n.resetFilter}"/>
</p:commandLink>
</h3>
<div class="row row-eq-height">
<div class="col-xs-3">
<label>#{i18n.keywordCanonicalLabel}</label>
<h:inputText
value="#{keywordListView.scrollForm.filter.canonicalLabel}"
styleClass="form-control">
<p:ajax event="keyup" update="resultsPanelGroup" listener="#{keywordListController.refresh}"/>
</h:inputText>
</div>

</div>
</div>
<div class="results-panel">
<h:panelGroup id="resultsPanelGroup">
<ui:fragment rendered="#{keywordListView.scrollView.elements.size() == 0}">
#{i18n.noDataFound}<br/>
</ui:fragment>

<ui:fragment rendered="#{keywordListView.scrollView.elements.size() > 0}">
<s:tooltip for=".truncated-text"/>

<p:dataTable rows="10"
id="keywordList" var="keyword" name="datatable"
value="#{keywordListView.scrollView.elements}" headerClass="datatable-header" rowClasses="datatable-row, datatable-row-light">

<p:column width="40">
<f:facet name="header">
<h:selectBooleanCheckbox id="selectUnselectAll" onclick="selectUnselectAll(this)" value="false"/>
<script>$(function(){displaySelectUnselectAll();});</script>
</f:facet>
<h:selectBooleanCheckbox rendered="#{keyword.canDelete}" id="selectUnselect" value="#{keyword.selected}" onclick="selectUnselect('keywordListForm:keywordList:selectUnselectAll')"/>
</p:column>

<p:column width="100">
<f:facet name="header">
<h:outputText value="Actions" />
<div class="drop-list" id="drop-list">
</div>
</f:facet>
<h:panelGrid styleClass="actions-grid" columns="2">
<p:commandLink action="#{keywordListController.editKeyword(keyword.id)}" oncomplete="$('#keywordModal').modal('show')" process="@this" update="@form:keywordDetailPanelGroup">
<h:graphicImage url="/resources/images/icons/edit.png" styleClass="imageIcon" title="#{i18n.edit}"/>
</p:commandLink>
</h:panelGrid>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.keywordCanonicalLabel}"
orderType="#{keywordListView.scrollForm.sorting.canonicalLabelOrderType}"
action="#{keywordListController.refresh}"
render="@form:keywordPanelGroup"/>
</f:facet>
<h:outputText value="#{keyword.canonicalLabel}"/>
</p:column>

</p:dataTable>

<cc:datatableScroller
page="#{keywordListView.scrollForm.page}"
numberOfPages="#{keywordListView.scrollView.numberOfPages}"
action="#{keywordListController.refresh}"
render="@form:keywordPanelGroup"/>

</ui:fragment>

</h:panelGroup>

</div>

<!-- Specific Code Start -->
<!-- Specific Code End -->
</h:panelGroup>

<div class="modal modal-default" id="keywordModal" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<ui:include src="/sections/nomenclature/keyword/modal.xhtml"/>
</div>
</div>
</div>
</h:form>
</ui:define>
</ui:composition>
