<ui:composition xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:p="http://primefaces.org/ui">

<!-- -->
<!-- auto generated jsf file -->
<!-- write modifications between specific code marks -->
<!-- processed by skeleton-generator -->
<!-- -->

<div class="modal-header">
<h2>
#{i18n.keywordDetails}
</h2>
</div>

<div class="modal-body">

<h:panelGroup id="keywordDetailPanelGroup">
<ui:param name="view" value="#{keywordListView.selectedKeyword}"/>
<ui:param name="form" value="#{view.form}"/>

<div class="row">
<div class="col-xs-12">
<label>#{i18n.keywordCanonicalLabel}</label>
<h:inputText id="keywordCanonicalLabel" styleClass="form-control" value="#{form.canonicalLabel}" disabled="true"/>
<h:message for="keywordCanonicalLabel" styleClass="detail-error-message"/>
</div>

</div>

<p:commandButton value="#{i18n.cancel}" actionListener="#{keywordListController.resetForm}" styleClass="btn btn-info" immediate="true" process="@this" update="@form:keywordPanelGroup" oncomplete="$('#keywordModal').modal('hide')"/>
<!-- Specific Code Start -->
<!-- Specific Code End -->

</h:panelGroup>

</div>

</ui:composition>
