<ui:composition xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:p="http://primefaces.org/ui"
template="/templates/template.xhtml">

<!-- -->
<!-- auto generated jsf file -->
<!-- write modifications between specific code marks -->
<!-- processed by skeleton-generator -->
<!-- -->

<f:metadata>
<f:viewParam name="id" value="#{globalParameterDetailView.selectedGlobalParameter.id}" />
<f:viewAction action="#{globalParameterDetailController.load}" />
</f:metadata>
<ui:define name="content">

<h:form>

<ui:include src="/sections/settings/global-parameter/menu.xhtml"/>

<h2>#{i18n.globalParameterDetails}</h2>
<h:panelGroup id="globalParameterDetailPanelGroup">

<ui:param name="view" value="#{globalParameterDetailView.selectedGlobalParameter}"/>
<ui:param name="form" value="#{view.form}"/>

<div class="row">
<div class="col-xs-12">
<label>#{i18n.globalParameterCode}</label>
<h:inputText id="globalParameterCode" styleClass="form-control" value="#{form.code}"/>
<h:message for="globalParameterCode" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.globalParameterDescription}</label>
<h:inputText id="globalParameterDescription" styleClass="form-control" value="#{form.description}"/>
<h:message for="globalParameterDescription" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.globalParameterParameterTypeCode}</label>
<h:selectOneMenu id="globalParameterParameterTypeCode" styleClass="form-control" value="#{form.parameterTypeCode}">
<f:selectItem itemValue="#{null}" itemLabel=""/>
<f:selectItems value="#{commonView.parameterTypeOptions}"
var="option" itemValue="#{option.key}" itemLabel="#{option.label}"/>
</h:selectOneMenu>
<h:message for="globalParameterParameterTypeCode" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.globalParameterValue}</label>
<h:inputText id="globalParameterValue" styleClass="form-control" value="#{form.value}"/>
<h:message for="globalParameterValue" styleClass="detail-error-message"/>
</div>

</div>

<p:commandButton value="#{i18n.update}" disabled="#{not view.canUpdate}" action="#{globalParameterDetailController.update}" styleClass="btn btn-success" process="@form" update=":messages, @form:globalParameterDetailPanelGroup"/>
<!-- Specific Code Start -->
<!-- Specific Code End -->

</h:panelGroup>

</h:form>
<script>$('#menu').addClass('active');</script>
</ui:define>
</ui:composition>
