<ui:composition xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:f = "http://java.sun.com/jsf/core"
xmlns:h = "http://java.sun.com/jsf/html"
xmlns:p="http://primefaces.org/ui"
xmlns:cc="http://java.sun.com/jsf/composite/components"
xmlns:s="http://commons.sklsft.org/ui/components"
template="/templates/template.xhtml">

<!-- -->
<!-- auto generated jsf file -->
<!-- write modifications between specific code marks -->
<!-- processed by skeleton generator -->
<!-- -->

<f:metadata>
<f:viewAction action="#{globalParameterListController.load}"/>
</f:metadata>
<ui:define name="content">

<h:form id="globalParameterListForm">
<h:panelGroup id="globalParameterPanelGroup">
<h2>
#{i18n.globalParameterList} (#{globalParameterListView.scrollView.size})
</h2>
<div class="filter-panel">
<h3>
#{i18n.filters}
<p:commandLink action="#{globalParameterListController.reset}" process="@this" update="@form:globalParameterPanelGroup">
<h:graphicImage url="/resources/images/icons/refresh.png" styleClass="imageIcon" title="#{i18n.resetFilter}"/>
</p:commandLink>
</h3>
<div class="row row-eq-height">
<div class="col-xs-3">
<label>#{i18n.globalParameterCode}</label>
<h:inputText
value="#{globalParameterListView.scrollForm.filter.code}"
styleClass="form-control">
<p:ajax event="keyup" update="resultsPanelGroup" listener="#{globalParameterListController.refresh}"/>
</h:inputText>
</div>

<div class="col-xs-3">
<label>#{i18n.globalParameterDescription}</label>
<h:inputText
value="#{globalParameterListView.scrollForm.filter.description}"
styleClass="form-control">
<p:ajax event="keyup" update="resultsPanelGroup" listener="#{globalParameterListController.refresh}"/>
</h:inputText>
</div>

<div class="col-xs-3">
<label>#{i18n.globalParameterParameterTypeCode}</label>
<h:inputText
value="#{globalParameterListView.scrollForm.filter.parameterTypeCode}"
styleClass="form-control">
<p:ajax event="keyup" update="resultsPanelGroup" listener="#{globalParameterListController.refresh}"/>
</h:inputText>
</div>

<div class="col-xs-3">
<label>#{i18n.globalParameterValue}</label>
<h:inputText
value="#{globalParameterListView.scrollForm.filter.value}"
styleClass="form-control">
<p:ajax event="keyup" update="resultsPanelGroup" listener="#{globalParameterListController.refresh}"/>
</h:inputText>
</div>

</div>
</div>
<div class="results-panel">
<h:panelGroup id="resultsPanelGroup">
<ui:fragment rendered="#{globalParameterListView.scrollView.elements.size() == 0}">
#{i18n.noDataFound}<br/>
</ui:fragment>

<ui:fragment rendered="#{globalParameterListView.scrollView.elements.size() > 0}">
<s:tooltip for=".truncated-text"/>

<p:dataTable rows="10"
id="globalParameterList" var="globalParameter" name="datatable"
value="#{globalParameterListView.scrollView.elements}" headerClass="datatable-header" rowClasses="datatable-row, datatable-row-light">

<p:column width="40">
<f:facet name="header">
<h:selectBooleanCheckbox id="selectUnselectAll" onclick="selectUnselectAll(this)" value="false"/>
<script>$(function(){displaySelectUnselectAll();});</script>
</f:facet>
<h:selectBooleanCheckbox rendered="#{globalParameter.canDelete}" id="selectUnselect" value="#{globalParameter.selected}" onclick="selectUnselect('globalParameterListForm:globalParameterList:selectUnselectAll')"/>
</p:column>

<p:column width="100">
<f:facet name="header">
<h:outputText value="Actions" />
<div class="drop-list" id="drop-list">
<p:commandLink title="#{i18n.deleteSelection}" action="#{globalParameterListController.deleteList}"
onclick="if (!confirm('#{i18n.confirmDeleteSelection}')) return false" process="@form:globalParameterPanelGroup" update=":messages, @form:globalParameterPanelGroup">
<span class="glyphicon glyphicon-trash"/>
</p:commandLink>
</div>
</f:facet>
<h:panelGrid styleClass="actions-grid" columns="2">
<p:commandLink action="#{globalParameterListController.editGlobalParameter(globalParameter.id)}" oncomplete="$('#globalParameterModal').modal('show')" process="@this" update="@form:globalParameterDetailPanelGroup">
<h:graphicImage url="/resources/images/icons/edit.png" styleClass="imageIcon" title="#{i18n.edit}"/>
</p:commandLink>
<p:commandLink rendered="#{globalParameter.canDelete}" action="#{globalParameterListController.delete(globalParameter.id)}"
onclick="if (!confirm('#{i18n.confirmDelete}')) return false" process="@this" update=":messages, @form:globalParameterPanelGroup">
<h:graphicImage url="/resources/images/icons/delete.png" styleClass="imageIcon" title="#{i18n.delete}"/>
</p:commandLink>
</h:panelGrid>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.globalParameterCode}"
orderType="#{globalParameterListView.scrollForm.sorting.codeOrderType}"
action="#{globalParameterListController.refresh}"
render="@form:globalParameterPanelGroup"/>
</f:facet>
<h:outputText value="#{globalParameter.code}"/>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.globalParameterDescription}"
orderType="#{globalParameterListView.scrollForm.sorting.descriptionOrderType}"
action="#{globalParameterListController.refresh}"
render="@form:globalParameterPanelGroup"/>
</f:facet>
<h:outputText value="#{globalParameter.description}"/>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.globalParameterParameterTypeCode}"
orderType="#{globalParameterListView.scrollForm.sorting.parameterTypeCodeOrderType}"
action="#{globalParameterListController.refresh}"
render="@form:globalParameterPanelGroup"/>
</f:facet>
<h:outputText value="#{globalParameter.parameterTypeCode}"/>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.globalParameterValue}"
orderType="#{globalParameterListView.scrollForm.sorting.valueOrderType}"
action="#{globalParameterListController.refresh}"
render="@form:globalParameterPanelGroup"/>
</f:facet>
<h:outputText value="#{globalParameter.value}"/>
</p:column>

</p:dataTable>

<cc:datatableScroller
page="#{globalParameterListView.scrollForm.page}"
numberOfPages="#{globalParameterListView.scrollView.numberOfPages}"
action="#{globalParameterListController.refresh}"
render="@form:globalParameterPanelGroup"/>

</ui:fragment>

</h:panelGroup>

</div>

<p:commandButton value="#{i18n.create}" action="#{globalParameterListController.createGlobalParameter}" styleClass="btn btn-info" oncomplete="onSuccess(args, function(){$('#globalParameterModal').modal('show')});" process="@this" update="globalParameterDetailPanelGroup"/>

<!-- Specific Code Start -->
<!-- Specific Code End -->
</h:panelGroup>

<div class="modal modal-default" id="globalParameterModal" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<ui:include src="/sections/settings/global-parameter/modal.xhtml"/>
</div>
</div>
</div>
</h:form>
</ui:define>
</ui:composition>
