<ui:composition xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:h="http://java.sun.com/jsf/html">

<!-- -->
<!-- auto generated jsf file -->
<!-- write modifications between specific code marks -->
<!-- processed by skeleton-generator -->
<!-- -->

<ul class="nav nav-pills">
<li role="presentation" id="menu">
<h:link outcome="/sections/settings/global-parameter/details.jsf">
<f:param name="id" value="#{globalParameterDetailView.selectedGlobalParameter.id}" />
#{i18n.globalParameterDetails}
</h:link>
</li>
</ul>
</ui:composition>
