<ui:composition xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:p="http://primefaces.org/ui"
template="/templates/template.xhtml">

<!-- -->
<!-- auto generated jsf file -->
<!-- write modifications between specific code marks -->
<!-- processed by skeleton-generator -->
<!-- -->

<f:metadata>
<f:viewParam name="id" value="#{organizationGuestDetailView.selectedOrganizationGuest.id}" />
<f:viewAction action="#{organizationGuestDetailController.load}" />
</f:metadata>
<ui:define name="content">

<h:form>

<ui:include src="/sections/organization/organization-guest/menu.xhtml"/>

<h2>#{i18n.organizationGuestDetails}</h2>
<h:panelGroup id="organizationGuestDetailPanelGroup">

<ui:param name="view" value="#{organizationGuestDetailView.selectedOrganizationGuest}"/>
<ui:param name="form" value="#{view.form}"/>

<div class="row">
<div class="col-xs-12">
<label>#{i18n.organizationGuestOrganizationCode}</label>
<p:autoComplete id="organizationGuestOrganizationCode" styleClass="form-control" value="#{form.organizationCode}"
 completeMethod="#{commonController.searchOrganizationOptions}"/>
<h:message for="organizationGuestOrganizationCode" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.organizationGuestEmail}</label>
<h:inputText id="organizationGuestEmail" styleClass="form-control" value="#{form.email}"/>
<h:message for="organizationGuestEmail" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.organizationGuestUserAccountEmail}</label>
<p:autoComplete id="organizationGuestUserAccountEmail" styleClass="form-control" value="#{form.userAccountEmail}"
 completeMethod="#{commonController.searchUserAccountOptions}"/>
<h:message for="organizationGuestUserAccountEmail" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.organizationGuestRole}</label>
<h:inputText id="organizationGuestRole" styleClass="form-control" value="#{form.role}"/>
<h:message for="organizationGuestRole" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.organizationGuestPosition}</label>
<h:inputText id="organizationGuestPosition" styleClass="form-control" value="#{form.position}"/>
<h:message for="organizationGuestPosition" styleClass="detail-error-message"/>
</div>

</div>

<p:commandButton value="#{i18n.update}" disabled="#{not view.canUpdate}" action="#{organizationGuestDetailController.update}" styleClass="btn btn-success" process="@form" update=":messages, @form:organizationGuestDetailPanelGroup"/>
<!-- Specific Code Start -->
<!-- Specific Code End -->

</h:panelGroup>

</h:form>
<script>$('#menu').addClass('active');</script>
</ui:define>
</ui:composition>
