<ui:composition xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:f = "http://java.sun.com/jsf/core"
xmlns:h = "http://java.sun.com/jsf/html"
xmlns:p="http://primefaces.org/ui"
xmlns:cc="http://java.sun.com/jsf/composite/components"
xmlns:s="http://commons.sklsft.org/ui/components"
template="/templates/template.xhtml">

<!-- -->
<!-- auto generated jsf file -->
<!-- write modifications between specific code marks -->
<!-- processed by skeleton generator -->
<!-- -->

<f:metadata>
<f:viewAction action="#{organizationGuestListController.load}"/>
</f:metadata>
<ui:define name="content">

<h:form id="organizationGuestListForm">
<h:panelGroup id="organizationGuestPanelGroup">
<h2>
#{i18n.organizationGuestList} (#{organizationGuestListView.scrollView.size})
</h2>
<div class="filter-panel">
<h3>
#{i18n.filters}
<p:commandLink action="#{organizationGuestListController.reset}" process="@this" update="@form:organizationGuestPanelGroup">
<h:graphicImage url="/resources/images/icons/refresh.png" styleClass="imageIcon" title="#{i18n.resetFilter}"/>
</p:commandLink>
</h3>
<div class="row row-eq-height">
<div class="col-xs-3">
<label>#{i18n.organizationGuestOrganizationCode}</label>
<h:inputText
value="#{organizationGuestListView.scrollForm.filter.organizationCode}"
styleClass="form-control">
<p:ajax event="keyup" update="resultsPanelGroup" listener="#{organizationGuestListController.refresh}"/>
</h:inputText>
</div>

<div class="col-xs-3">
<label>#{i18n.organizationGuestEmail}</label>
<h:inputText
value="#{organizationGuestListView.scrollForm.filter.email}"
styleClass="form-control">
<p:ajax event="keyup" update="resultsPanelGroup" listener="#{organizationGuestListController.refresh}"/>
</h:inputText>
</div>

<div class="col-xs-3">
<label>#{i18n.organizationGuestUserAccountEmail}</label>
<h:inputText
value="#{organizationGuestListView.scrollForm.filter.userAccountEmail}"
styleClass="form-control">
<p:ajax event="keyup" update="resultsPanelGroup" listener="#{organizationGuestListController.refresh}"/>
</h:inputText>
</div>

<div class="col-xs-3">
<label>#{i18n.organizationGuestRole}</label>
<h:inputText
value="#{organizationGuestListView.scrollForm.filter.role}"
styleClass="form-control">
<p:ajax event="keyup" update="resultsPanelGroup" listener="#{organizationGuestListController.refresh}"/>
</h:inputText>
</div>

<div class="col-xs-3">
<label>#{i18n.organizationGuestPosition}</label>
<h:inputText
value="#{organizationGuestListView.scrollForm.filter.position}"
styleClass="form-control">
<p:ajax event="keyup" update="resultsPanelGroup" listener="#{organizationGuestListController.refresh}"/>
</h:inputText>
</div>

</div>
</div>
<div class="results-panel">
<h:panelGroup id="resultsPanelGroup">
<ui:fragment rendered="#{organizationGuestListView.scrollView.elements.size() == 0}">
#{i18n.noDataFound}<br/>
</ui:fragment>

<ui:fragment rendered="#{organizationGuestListView.scrollView.elements.size() > 0}">
<s:tooltip for=".truncated-text"/>

<p:dataTable rows="10"
id="organizationGuestList" var="organizationGuest" name="datatable"
value="#{organizationGuestListView.scrollView.elements}" headerClass="datatable-header" rowClasses="datatable-row, datatable-row-light">

<p:column width="40">
<f:facet name="header">
<h:selectBooleanCheckbox id="selectUnselectAll" onclick="selectUnselectAll(this)" value="false"/>
<script>$(function(){displaySelectUnselectAll();});</script>
</f:facet>
<h:selectBooleanCheckbox rendered="#{organizationGuest.canDelete}" id="selectUnselect" value="#{organizationGuest.selected}" onclick="selectUnselect('organizationGuestListForm:organizationGuestList:selectUnselectAll')"/>
</p:column>

<p:column width="100">
<f:facet name="header">
<h:outputText value="Actions" />
<div class="drop-list" id="drop-list">
<p:commandLink title="#{i18n.deleteSelection}" action="#{organizationGuestListController.deleteList}"
onclick="if (!confirm('#{i18n.confirmDeleteSelection}')) return false" process="@form:organizationGuestPanelGroup" update=":messages, @form:organizationGuestPanelGroup">
<span class="glyphicon glyphicon-trash"/>
</p:commandLink>
</div>
</f:facet>
<h:panelGrid styleClass="actions-grid" columns="2">
<p:commandLink action="#{organizationGuestListController.editOrganizationGuest(organizationGuest.id)}" oncomplete="$('#organizationGuestModal').modal('show')" process="@this" update="@form:organizationGuestDetailPanelGroup">
<h:graphicImage url="/resources/images/icons/edit.png" styleClass="imageIcon" title="#{i18n.edit}"/>
</p:commandLink>
<p:commandLink rendered="#{organizationGuest.canDelete}" action="#{organizationGuestListController.delete(organizationGuest.id)}"
onclick="if (!confirm('#{i18n.confirmDelete}')) return false" process="@this" update=":messages, @form:organizationGuestPanelGroup">
<h:graphicImage url="/resources/images/icons/delete.png" styleClass="imageIcon" title="#{i18n.delete}"/>
</p:commandLink>
</h:panelGrid>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.organizationGuestOrganizationCode}"
orderType="#{organizationGuestListView.scrollForm.sorting.organizationCodeOrderType}"
action="#{organizationGuestListController.refresh}"
render="@form:organizationGuestPanelGroup"/>
</f:facet>
<h:outputText value="#{organizationGuest.organizationCode}"/>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.organizationGuestEmail}"
orderType="#{organizationGuestListView.scrollForm.sorting.emailOrderType}"
action="#{organizationGuestListController.refresh}"
render="@form:organizationGuestPanelGroup"/>
</f:facet>
<h:outputText value="#{organizationGuest.email}"/>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.organizationGuestUserAccountEmail}"
orderType="#{organizationGuestListView.scrollForm.sorting.userAccountEmailOrderType}"
action="#{organizationGuestListController.refresh}"
render="@form:organizationGuestPanelGroup"/>
</f:facet>
<h:outputText value="#{organizationGuest.userAccountEmail}"/>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.organizationGuestRole}"
orderType="#{organizationGuestListView.scrollForm.sorting.roleOrderType}"
action="#{organizationGuestListController.refresh}"
render="@form:organizationGuestPanelGroup"/>
</f:facet>
<h:outputText value="#{organizationGuest.role}"/>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.organizationGuestPosition}"
orderType="#{organizationGuestListView.scrollForm.sorting.positionOrderType}"
action="#{organizationGuestListController.refresh}"
render="@form:organizationGuestPanelGroup"/>
</f:facet>
<h:outputText value="#{organizationGuest.position}"/>
</p:column>

</p:dataTable>

<cc:datatableScroller
page="#{organizationGuestListView.scrollForm.page}"
numberOfPages="#{organizationGuestListView.scrollView.numberOfPages}"
action="#{organizationGuestListController.refresh}"
render="@form:organizationGuestPanelGroup"/>

</ui:fragment>

</h:panelGroup>

</div>

<p:commandButton value="#{i18n.create}" action="#{organizationGuestListController.createOrganizationGuest}" styleClass="btn btn-info" oncomplete="onSuccess(args, function(){$('#organizationGuestModal').modal('show')});" process="@this" update="organizationGuestDetailPanelGroup"/>

<!-- Specific Code Start -->
<!-- Specific Code End -->
</h:panelGroup>

<div class="modal modal-default" id="organizationGuestModal" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<ui:include src="/sections/organization/organization-guest/modal.xhtml"/>
</div>
</div>
</div>
</h:form>
</ui:define>
</ui:composition>
