<ui:composition xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:p="http://primefaces.org/ui">

<!-- -->
<!-- auto generated jsf file -->
<!-- write modifications between specific code marks -->
<!-- processed by skeleton-generator -->
<!-- -->

<div class="modal-header">
<h2>
#{i18n.organizationGuestDetails}
</h2>
</div>

<div class="modal-body">

<h:panelGroup id="organizationGuestDetailPanelGroup">
<ui:param name="view" value="#{organizationGuestListView.selectedOrganizationGuest}"/>
<ui:param name="form" value="#{view.form}"/>

<div class="row">
<div class="col-xs-12">
<label>#{i18n.organizationGuestOrganizationCode}</label>
<p:autoComplete id="organizationGuestOrganizationCode" styleClass="form-control" value="#{form.organizationCode}"
 completeMethod="#{commonController.searchOrganizationOptions}"/>
<h:message for="organizationGuestOrganizationCode" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.organizationGuestEmail}</label>
<h:inputText id="organizationGuestEmail" styleClass="form-control" value="#{form.email}"/>
<h:message for="organizationGuestEmail" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.organizationGuestUserAccountEmail}</label>
<p:autoComplete id="organizationGuestUserAccountEmail" styleClass="form-control" value="#{form.userAccountEmail}"
 completeMethod="#{commonController.searchUserAccountOptions}"/>
<h:message for="organizationGuestUserAccountEmail" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.organizationGuestRole}</label>
<h:inputText id="organizationGuestRole" styleClass="form-control" value="#{form.role}"/>
<h:message for="organizationGuestRole" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.organizationGuestPosition}</label>
<h:inputText id="organizationGuestPosition" styleClass="form-control" value="#{form.position}"/>
<h:message for="organizationGuestPosition" styleClass="detail-error-message"/>
</div>

</div>

<p:commandButton value="#{i18n.save}" action="#{organizationGuestListController.save}" rendered="#{empty view.id}" styleClass="btn btn-success" process="@form:organizationGuestDetailPanelGroup" update=":messages, @form:organizationGuestPanelGroup, @form:organizationGuestDetailPanelGroup" oncomplete="onSuccess(args, function(){$('#organizationGuestModal').modal('hide')});"/>
<p:commandButton value="#{i18n.update}" action="#{organizationGuestListController.update}" rendered="#{not empty view.id}" disabled="#{not view.canUpdate}" styleClass="btn btn-success" process="@form:organizationGuestDetailPanelGroup" update=":messages, @form:organizationGuestPanelGroup, @form:organizationGuestDetailPanelGroup" oncomplete="onSuccess(args, function(){$('#organizationGuestModal').modal('hide')});"/>
<p:commandButton value="#{i18n.cancel}" actionListener="#{organizationGuestListController.resetForm}" styleClass="btn btn-info" immediate="true" process="@this" update="@form:organizationGuestPanelGroup" oncomplete="$('#organizationGuestModal').modal('hide')"/>
<!-- Specific Code Start -->
<!-- Specific Code End -->

</h:panelGroup>

</div>

</ui:composition>
