<ui:composition xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:f = "http://java.sun.com/jsf/core"
xmlns:h = "http://java.sun.com/jsf/html"
xmlns:rich = "http://richfaces.org/rich"
xmlns:a4j = "http://richfaces.org/a4j"
xmlns:c="http://java.sun.com/jstl/core"
template="/templates/template.xhtml">

	<ui:define name="content">
	
	<div class="centered-content">
		<h1>Oops ! Something went wrong !</h1>
	</div>
		
	</ui:define>

</ui:composition>