<ui:composition xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:p="http://primefaces.org/ui"
template="/templates/template.xhtml">

<!-- -->
<!-- auto generated jsf file -->
<!-- write modifications between specific code marks -->
<!-- processed by skeleton-generator -->
<!-- -->

<f:metadata>
<f:viewParam name="id" value="#{actionTypeDetailView.selectedActionType.id}" />
<f:viewAction action="#{actionTypeDetailController.load}" />
</f:metadata>
<ui:define name="content">

<h:form>

<ui:include src="/sections/notifications/action-type/menu.xhtml"/>

<h2>#{i18n.actionTypeDetails}</h2>
<h:panelGroup id="actionTypeDetailPanelGroup">

<ui:param name="view" value="#{actionTypeDetailView.selectedActionType}"/>
<ui:param name="form" value="#{view.form}"/>

<div class="row">
<div class="col-xs-12">
<label>#{i18n.actionTypeCode}</label>
<h:inputText id="actionTypeCode" styleClass="form-control" value="#{form.code}" disabled="true"/>
<h:message for="actionTypeCode" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.actionTypeNotificationLabel}</label>
<h:inputText id="actionTypeNotificationLabel" styleClass="form-control" value="#{form.notificationLabel}"/>
<h:message for="actionTypeNotificationLabel" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.actionTypeMailLabel}</label>
<h:inputText id="actionTypeMailLabel" styleClass="form-control" value="#{form.mailLabel}"/>
<h:message for="actionTypeMailLabel" styleClass="detail-error-message"/>
</div>

</div>

<p:commandButton value="#{i18n.update}" disabled="#{not view.canUpdate}" action="#{actionTypeDetailController.update}" styleClass="btn btn-success" process="@form" update=":messages, @form:actionTypeDetailPanelGroup"/>
<!-- Specific Code Start -->
<!-- Specific Code End -->

</h:panelGroup>

</h:form>
<script>$('#menu').addClass('active');</script>
</ui:define>
</ui:composition>
