<ui:composition xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:f = "http://java.sun.com/jsf/core"
xmlns:h = "http://java.sun.com/jsf/html"
xmlns:p="http://primefaces.org/ui"
xmlns:cc="http://java.sun.com/jsf/composite/components"
xmlns:s="http://commons.sklsft.org/ui/components"
template="/templates/template.xhtml">

<!-- -->
<!-- auto generated jsf file -->
<!-- write modifications between specific code marks -->
<!-- processed by skeleton generator -->
<!-- -->

<f:metadata>
<f:viewAction action="#{actionTypeListController.load}"/>
</f:metadata>
<ui:define name="content">

<h:form id="actionTypeListForm">
<h:panelGroup id="actionTypePanelGroup">
<h2>
#{i18n.actionTypeList} (#{actionTypeListView.scrollView.size})
</h2>
<div class="filter-panel">
<h3>
#{i18n.filters}
<p:commandLink action="#{actionTypeListController.reset}" process="@this" update="@form:actionTypePanelGroup">
<h:graphicImage url="/resources/images/icons/refresh.png" styleClass="imageIcon" title="#{i18n.resetFilter}"/>
</p:commandLink>
</h3>
<div class="row row-eq-height">
<div class="col-xs-3">
<label>#{i18n.actionTypeCode}</label>
<h:inputText
value="#{actionTypeListView.scrollForm.filter.code}"
styleClass="form-control">
<p:ajax event="keyup" update="resultsPanelGroup" listener="#{actionTypeListController.refresh}"/>
</h:inputText>
</div>

<div class="col-xs-3">
<label>#{i18n.actionTypeNotificationLabel}</label>
<h:inputText
value="#{actionTypeListView.scrollForm.filter.notificationLabel}"
styleClass="form-control">
<p:ajax event="keyup" update="resultsPanelGroup" listener="#{actionTypeListController.refresh}"/>
</h:inputText>
</div>

<div class="col-xs-3">
<label>#{i18n.actionTypeMailLabel}</label>
<h:inputText
value="#{actionTypeListView.scrollForm.filter.mailLabel}"
styleClass="form-control">
<p:ajax event="keyup" update="resultsPanelGroup" listener="#{actionTypeListController.refresh}"/>
</h:inputText>
</div>

</div>
</div>
<div class="results-panel">
<h:panelGroup id="resultsPanelGroup">
<ui:fragment rendered="#{actionTypeListView.scrollView.elements.size() == 0}">
#{i18n.noDataFound}<br/>
</ui:fragment>

<ui:fragment rendered="#{actionTypeListView.scrollView.elements.size() > 0}">
<s:tooltip for=".truncated-text"/>

<p:dataTable rows="10"
id="actionTypeList" var="actionType" name="datatable"
value="#{actionTypeListView.scrollView.elements}" headerClass="datatable-header" rowClasses="datatable-row, datatable-row-light">

<p:column width="40">
<f:facet name="header">
<h:selectBooleanCheckbox id="selectUnselectAll" onclick="selectUnselectAll(this)" value="false"/>
<script>$(function(){displaySelectUnselectAll();});</script>
</f:facet>
<h:selectBooleanCheckbox rendered="#{actionType.canDelete}" id="selectUnselect" value="#{actionType.selected}" onclick="selectUnselect('actionTypeListForm:actionTypeList:selectUnselectAll')"/>
</p:column>

<p:column width="100">
<f:facet name="header">
<h:outputText value="Actions" />
<div class="drop-list" id="drop-list">
</div>
</f:facet>
<h:panelGrid styleClass="actions-grid" columns="2">
<p:commandLink action="#{actionTypeListController.editActionType(actionType.id)}" oncomplete="$('#actionTypeModal').modal('show')" process="@this" update="@form:actionTypeDetailPanelGroup">
<h:graphicImage url="/resources/images/icons/edit.png" styleClass="imageIcon" title="#{i18n.edit}"/>
</p:commandLink>
</h:panelGrid>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.actionTypeCode}"
orderType="#{actionTypeListView.scrollForm.sorting.codeOrderType}"
action="#{actionTypeListController.refresh}"
render="@form:actionTypePanelGroup"/>
</f:facet>
<h:outputText value="#{actionType.code}"/>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.actionTypeNotificationLabel}"
orderType="#{actionTypeListView.scrollForm.sorting.notificationLabelOrderType}"
action="#{actionTypeListController.refresh}"
render="@form:actionTypePanelGroup"/>
</f:facet>
<h:outputText value="#{actionType.notificationLabel}"/>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.actionTypeMailLabel}"
orderType="#{actionTypeListView.scrollForm.sorting.mailLabelOrderType}"
action="#{actionTypeListController.refresh}"
render="@form:actionTypePanelGroup"/>
</f:facet>
<h:outputText value="#{actionType.mailLabel}"/>
</p:column>

</p:dataTable>

<cc:datatableScroller
page="#{actionTypeListView.scrollForm.page}"
numberOfPages="#{actionTypeListView.scrollView.numberOfPages}"
action="#{actionTypeListController.refresh}"
render="@form:actionTypePanelGroup"/>

</ui:fragment>

</h:panelGroup>

</div>

<!-- Specific Code Start -->
<!-- Specific Code End -->
</h:panelGroup>

<div class="modal modal-default" id="actionTypeModal" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<ui:include src="/sections/notifications/action-type/modal.xhtml"/>
</div>
</div>
</div>
</h:form>
</ui:define>
</ui:composition>
