<ui:composition xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:p="http://primefaces.org/ui">

<!-- -->
<!-- auto generated jsf file -->
<!-- write modifications between specific code marks -->
<!-- processed by skeleton-generator -->
<!-- -->

<div class="modal-header">
<h2>
#{i18n.actionTypeDetails}
</h2>
</div>

<div class="modal-body">

<h:panelGroup id="actionTypeDetailPanelGroup">
<ui:param name="view" value="#{actionTypeListView.selectedActionType}"/>
<ui:param name="form" value="#{view.form}"/>

<div class="row">
<div class="col-xs-12">
<label>#{i18n.actionTypeCode}</label>
<h:inputText id="actionTypeCode" styleClass="form-control" value="#{form.code}" disabled="true"/>
<h:message for="actionTypeCode" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.actionTypeNotificationLabel}</label>
<h:inputText id="actionTypeNotificationLabel" styleClass="form-control" value="#{form.notificationLabel}"/>
<h:message for="actionTypeNotificationLabel" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.actionTypeMailLabel}</label>
<h:inputText id="actionTypeMailLabel" styleClass="form-control" value="#{form.mailLabel}"/>
<h:message for="actionTypeMailLabel" styleClass="detail-error-message"/>
</div>

</div>

<p:commandButton value="#{i18n.update}" action="#{actionTypeListController.update}" rendered="#{not empty view.id}" disabled="#{not view.canUpdate}" styleClass="btn btn-success" process="@form:actionTypeDetailPanelGroup" update=":messages, @form:actionTypePanelGroup, @form:actionTypeDetailPanelGroup" oncomplete="onSuccess(args, function(){$('#actionTypeModal').modal('hide')});"/>
<p:commandButton value="#{i18n.cancel}" actionListener="#{actionTypeListController.resetForm}" styleClass="btn btn-info" immediate="true" process="@this" update="@form:actionTypePanelGroup" oncomplete="$('#actionTypeModal').modal('hide')"/>
<!-- Specific Code Start -->
<!-- Specific Code End -->

</h:panelGroup>

</div>

</ui:composition>
