<ui:composition xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:f = "http://java.sun.com/jsf/core"
xmlns:h = "http://java.sun.com/jsf/html"
xmlns:p="http://primefaces.org/ui"
xmlns:cc="http://java.sun.com/jsf/composite/components"
xmlns:s="http://commons.sklsft.org/ui/components"
template="/templates/template.xhtml">

<!-- -->
<!-- auto generated jsf file -->
<!-- write modifications between specific code marks -->
<!-- processed by skeleton generator -->
<!-- -->

<f:metadata>
<f:viewAction action="#{userAccountNotificationListController.load}"/>
</f:metadata>
<ui:define name="content">

<h:form id="userAccountNotificationListForm">
<h:panelGroup id="userAccountNotificationPanelGroup">
<h2>
#{i18n.userAccountNotificationList} (#{userAccountNotificationListView.scrollView.size})
</h2>
<div class="filter-panel">
<h3>
#{i18n.filters}
<p:commandLink action="#{userAccountNotificationListController.reset}" process="@this" update="@form:userAccountNotificationPanelGroup">
<h:graphicImage url="/resources/images/icons/refresh.png" styleClass="imageIcon" title="#{i18n.resetFilter}"/>
</p:commandLink>
</h3>
<div class="row row-eq-height">
<div class="col-xs-3">
<label>#{i18n.userAccountNotificationNotifiedEmail}</label>
<h:inputText
value="#{userAccountNotificationListView.scrollForm.filter.notifiedEmail}"
styleClass="form-control">
<p:ajax event="keyup" update="resultsPanelGroup" listener="#{userAccountNotificationListController.refresh}"/>
</h:inputText>
</div>

<div class="col-xs-3">
<label>#{i18n.userAccountNotificationActionTypeCode}</label>
<h:inputText
value="#{userAccountNotificationListView.scrollForm.filter.actionTypeCode}"
styleClass="form-control">
<p:ajax event="keyup" update="resultsPanelGroup" listener="#{userAccountNotificationListController.refresh}"/>
</h:inputText>
</div>

<div class="col-xs-3">
<label>#{i18n.userAccountNotificationNotificationDate}</label>
<p:calendar value="#{userAccountNotificationListView.scrollForm.filter.notificationDateMinValue}"
class="form-control date-picker"
pattern="yyyy-MM-dd HH:mm:ss" mask="true">
<p:ajax event="dateSelect" update="resultsPanelGroup" listener="#{userAccountNotificationListController.refresh}"/>
</p:calendar>
<p:calendar value="#{userAccountNotificationListView.scrollForm.filter.notificationDateMaxValue}"
class="form-control date-picker"
pattern="yyyy-MM-dd HH:mm:ss" mask="true">
<p:ajax event="dateSelect" update="resultsPanelGroup" listener="#{userAccountNotificationListController.refresh}"/>
</p:calendar>
</div>

<div class="col-xs-3">
<label>#{i18n.userAccountNotificationMessage}</label>
<h:inputText
value="#{userAccountNotificationListView.scrollForm.filter.message}"
styleClass="form-control">
<p:ajax event="keyup" update="resultsPanelGroup" listener="#{userAccountNotificationListController.refresh}"/>
</h:inputText>
</div>

<div class="col-xs-3">
<label>#{i18n.userAccountNotificationRead}</label>
<h:selectOneMenu value="#{userAccountNotificationListView.scrollForm.filter.read}" styleClass="form-control">
<f:selectItem itemLabel="" itemValue="#{null}"></f:selectItem>
<f:selectItem itemLabel="#{i18n.trueLabel}" itemValue="#{true}"></f:selectItem>
<f:selectItem itemLabel="#{i18n.falseLabel}" itemValue="#{false}"></f:selectItem>
<p:ajax event="change" update="resultsPanelGroup" listener="#{userAccountNotificationListController.refresh}"/>
</h:selectOneMenu>
</div>

</div>
</div>
<div class="results-panel">
<h:panelGroup id="resultsPanelGroup">
<ui:fragment rendered="#{userAccountNotificationListView.scrollView.elements.size() == 0}">
#{i18n.noDataFound}<br/>
</ui:fragment>

<ui:fragment rendered="#{userAccountNotificationListView.scrollView.elements.size() > 0}">
<s:tooltip for=".truncated-text"/>

<p:dataTable rows="10"
id="userAccountNotificationList" var="userAccountNotification" name="datatable"
value="#{userAccountNotificationListView.scrollView.elements}" headerClass="datatable-header" rowClasses="datatable-row, datatable-row-light">

<p:column width="40">
<f:facet name="header">
<h:selectBooleanCheckbox id="selectUnselectAll" onclick="selectUnselectAll(this)" value="false"/>
<script>$(function(){displaySelectUnselectAll();});</script>
</f:facet>
<h:selectBooleanCheckbox rendered="#{userAccountNotification.canDelete}" id="selectUnselect" value="#{userAccountNotification.selected}" onclick="selectUnselect('userAccountNotificationListForm:userAccountNotificationList:selectUnselectAll')"/>
</p:column>

<p:column width="100">
<f:facet name="header">
<h:outputText value="Actions" />
<div class="drop-list" id="drop-list">
</div>
</f:facet>
<h:panelGrid styleClass="actions-grid" columns="2">
<p:commandLink action="#{userAccountNotificationListController.editUserAccountNotification(userAccountNotification.id)}" oncomplete="$('#userAccountNotificationModal').modal('show')" process="@this" update="@form:userAccountNotificationDetailPanelGroup">
<h:graphicImage url="/resources/images/icons/edit.png" styleClass="imageIcon" title="#{i18n.edit}"/>
</p:commandLink>
</h:panelGrid>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.userAccountNotificationNotifiedEmail}"
orderType="#{userAccountNotificationListView.scrollForm.sorting.notifiedEmailOrderType}"
action="#{userAccountNotificationListController.refresh}"
render="@form:userAccountNotificationPanelGroup"/>
</f:facet>
<h:outputText value="#{userAccountNotification.notifiedEmail}"/>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.userAccountNotificationActionTypeCode}"
orderType="#{userAccountNotificationListView.scrollForm.sorting.actionTypeCodeOrderType}"
action="#{userAccountNotificationListController.refresh}"
render="@form:userAccountNotificationPanelGroup"/>
</f:facet>
<h:outputText value="#{userAccountNotification.actionTypeCode}"/>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.userAccountNotificationNotificationDate}"
orderType="#{userAccountNotificationListView.scrollForm.sorting.notificationDateOrderType}"
action="#{userAccountNotificationListController.refresh}"
render="@form:userAccountNotificationPanelGroup"/>
</f:facet>
<h:outputText value="#{userAccountNotification.notificationDate}">
<f:convertDateTime pattern="yyyy-MM-dd HH:mm:ss"/>
</h:outputText>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.userAccountNotificationMessage}"
orderType="#{userAccountNotificationListView.scrollForm.sorting.messageOrderType}"
action="#{userAccountNotificationListController.refresh}"
render="@form:userAccountNotificationPanelGroup"/>
</f:facet>
<pre class="truncated-text"
 data-toggle="tooltip"
 data-html="true"
 data-title='&lt;pre&gt;#{userAccountNotification.message}&lt;/pre&gt;'
 data-placement="bottom"
 data-trigger="click">
#{userAccountNotification.message}
</pre>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.userAccountNotificationRead}"
orderType="#{userAccountNotificationListView.scrollForm.sorting.readOrderType}"
action="#{userAccountNotificationListController.refresh}"
render="@form:userAccountNotificationPanelGroup"/>
</f:facet>
<h:selectBooleanCheckbox value="#{userAccountNotification.read}" disabled="true"/>
</p:column>

</p:dataTable>

<cc:datatableScroller
page="#{userAccountNotificationListView.scrollForm.page}"
numberOfPages="#{userAccountNotificationListView.scrollView.numberOfPages}"
action="#{userAccountNotificationListController.refresh}"
render="@form:userAccountNotificationPanelGroup"/>

</ui:fragment>

</h:panelGroup>

</div>

<!-- Specific Code Start -->
<!-- Specific Code End -->
</h:panelGroup>

<div class="modal modal-default" id="userAccountNotificationModal" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<ui:include src="/sections/notifications/user-account-notification/modal.xhtml"/>
</div>
</div>
</div>
</h:form>
</ui:define>
</ui:composition>
