<ui:composition xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:p="http://primefaces.org/ui">

<!-- -->
<!-- auto generated jsf file -->
<!-- write modifications between specific code marks -->
<!-- processed by skeleton-generator -->
<!-- -->

<div class="modal-header">
<h2>
#{i18n.userAccountNotificationDetails}
</h2>
</div>

<div class="modal-body">

<h:panelGroup id="userAccountNotificationDetailPanelGroup">
<ui:param name="view" value="#{userAccountNotificationListView.selectedUserAccountNotification}"/>
<ui:param name="form" value="#{view.form}"/>

<div class="row">
<div class="col-xs-12">
<label>#{i18n.userAccountNotificationNotifiedEmail}</label>
<p:autoComplete id="userAccountNotificationNotifiedEmail" styleClass="form-control" value="#{form.notifiedEmail}"
 disabled="true" completeMethod="#{commonController.searchUserAccountOptions}"/>
<h:message for="userAccountNotificationNotifiedEmail" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.userAccountNotificationActionTypeCode}</label>
<h:selectOneMenu id="userAccountNotificationActionTypeCode" styleClass="form-control" value="#{form.actionTypeCode}" disabled="true">
<f:selectItem itemValue="#{null}" itemLabel=""/>
<f:selectItems value="#{commonView.actionTypeOptions}"
var="option" itemValue="#{option.key}" itemLabel="#{option.label}"/>
</h:selectOneMenu>
<h:message for="userAccountNotificationActionTypeCode" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.userAccountNotificationNotificationDate}</label>
<p:calendar id="userAccountNotificationNotificationDate" class="form-control date-picker" value="#{form.notificationDate}"
 pattern="yyyy-MM-dd HH:mm:ss" mask="true"
disabled="true"/>
<h:message for="userAccountNotificationNotificationDate" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.userAccountNotificationFromEmail}</label>
<p:autoComplete id="userAccountNotificationFromEmail" styleClass="form-control" value="#{form.fromEmail}"
 completeMethod="#{commonController.searchUserAccountOptions}"/>
<h:message for="userAccountNotificationFromEmail" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.userAccountNotificationFromOrganizationCode}</label>
<p:autoComplete id="userAccountNotificationFromOrganizationCode" styleClass="form-control" value="#{form.fromOrganizationCode}"
 completeMethod="#{commonController.searchOrganizationOptions}"/>
<h:message for="userAccountNotificationFromOrganizationCode" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<label>#{i18n.userAccountNotificationMessage}</label>
<h:inputTextarea id="userAccountNotificationMessage" styleClass="form-control" rows="10" value="#{form.message}"/>
<h:message for="userAccountNotificationMessage" styleClass="detail-error-message"/>
</div>

<div class="col-xs-12">
<div class="checkbox">
<label>
<h:selectBooleanCheckbox id="userAccountNotificationRead" value="#{form.read}"
readonly="false" disabled="false"/>
#{i18n.userAccountNotificationRead}
</label>
</div>
</div>

</div>

<p:commandButton value="#{i18n.cancel}" actionListener="#{userAccountNotificationListController.resetForm}" styleClass="btn btn-info" immediate="true" process="@this" update="@form:userAccountNotificationPanelGroup" oncomplete="$('#userAccountNotificationModal').modal('hide')"/>
<!-- Specific Code Start -->
<!-- Specific Code End -->

</h:panelGroup>

</div>

</ui:composition>
