<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
				xmlns:h="http://java.sun.com/jsf/html" 
				xmlns:f="http://java.sun.com/jsf/core"
				xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:form>
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					Settings
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li>
						<h:link value="#{i18n.globalParameterList}" outcome="/sections/settings/global-parameter/list.jsf" />
					</li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					Accounts
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li>
						<h:link value="#{i18n.userAccountList}" outcome="/sections/account/user-account/list.jsf" />
					</li>
					<li>
						<h:link value="#{i18n.organizationList}" outcome="/sections/organization/organization/list.jsf" />
					</li>
				</ul>
			</li>
		</ul>
	</h:form>
	
</ui:composition>