<ui:composition xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui = "http://java.sun.com/jsf/facelets"
xmlns:f = "http://java.sun.com/jsf/core"
xmlns:h = "http://java.sun.com/jsf/html"
xmlns:p="http://primefaces.org/ui"
xmlns:cc="http://java.sun.com/jsf/composite/components"
xmlns:s="http://commons.sklsft.org/ui/components"
template="/templates/template.xhtml">

<!-- -->
<!-- auto generated jsf file -->
<!-- write modifications between specific code marks -->
<!-- processed by skeleton-generator -->
<!-- -->

<f:metadata>
<f:viewParam name="id" value="#{userAccountDetailView.selectedUserAccount.id}" />
<f:viewAction action="#{userAccountDetailController.loadOrganizationMemberList}" />
</f:metadata>
<ui:define name="content">

<h:form id="organizationMemberListForm">

<ui:include src="/sections/account/user-account/menu.xhtml"/>

<h:panelGroup id="organizationMemberPanelGroup">

<h2>
#{i18n.organizationMemberList} (#{userAccountDetailView.organizationMemberScrollView.size})
</h2>
<div class="filter-panel">
<h3>
#{i18n.filters}
<p:commandLink action="#{userAccountDetailController.resetOrganizationMemberFilter}" process="@this" update="@form:organizationMemberPanelGroup">
<h:graphicImage url="/resources/images/icons/refresh.png" styleClass="imageIcon" title="#{i18n.resetFilter}"/>
</p:commandLink>
</h3>
<div class="row row-eq-height">
<div class="col-xs-3">
<label>#{i18n.organizationMemberOrganizationCode}</label>
<h:inputText
value="#{userAccountDetailView.organizationMemberScrollForm.filter.organizationCode}"
styleClass="form-control">
<p:ajax event="keyup" update="resultsPanelGroup" listener="#{userAccountDetailController.refreshOrganizationMemberList}"/>
</h:inputText>
</div>

<div class="col-xs-3">
<label>#{i18n.organizationMemberRole}</label>
<h:inputText
value="#{userAccountDetailView.organizationMemberScrollForm.filter.role}"
styleClass="form-control">
<p:ajax event="keyup" update="resultsPanelGroup" listener="#{userAccountDetailController.refreshOrganizationMemberList}"/>
</h:inputText>
</div>

<div class="col-xs-3">
<label>#{i18n.organizationMemberPosition}</label>
<h:inputText
value="#{userAccountDetailView.organizationMemberScrollForm.filter.position}"
styleClass="form-control">
<p:ajax event="keyup" update="resultsPanelGroup" listener="#{userAccountDetailController.refreshOrganizationMemberList}"/>
</h:inputText>
</div>

</div>
</div>
<div class="results-panel">
<h:panelGroup id="resultsPanelGroup">
<ui:fragment rendered="#{userAccountDetailView.organizationMemberScrollView.size == 0}">
#{i18n.noDataFound}<br/>
</ui:fragment>

<ui:fragment rendered="#{userAccountDetailView.organizationMemberScrollView.size > 0}">

<s:tooltip for=".truncated-text"/>

<p:dataTable rows="10"
id="organizationMemberList" var="organizationMember" name="datatable"
value="#{userAccountDetailView.organizationMemberScrollView.elements}" headerClass="datatable-header" rowClasses="datatable-row, datatable-row-light">

<p:column width="40">
<f:facet name="header">
<h:selectBooleanCheckbox id="selectUnselectAll" onclick="selectUnselectAll(this)" value="false"/>
<script>$(function(){displaySelectUnselectAll();});</script>
</f:facet>
<h:selectBooleanCheckbox  rendered="#{organizationMember.canDelete}" id="selectUnselect" value="#{organizationMember.selected}" onclick="selectUnselect('organizationMemberListForm:organizationMemberList:selectUnselectAll')"/>
</p:column>

<p:column width="100">
<f:facet name="header">
<h:outputText value="Actions" />
<div id="drop-list" class="drop-list">
<p:commandLink title="#{i18n.deleteSelection}" action="#{userAccountDetailController.deleteOrganizationMemberList}"
onclick="if (!confirm('#{i18n.confirmDeleteSelection}')) return false" process="@form:organizationMemberPanelGroup" update=":messages, @form:organizationMemberPanelGroup">
<span class="glyphicon glyphicon-trash"/>
</p:commandLink>
</div>

</f:facet>
<h:panelGrid styleClass="actions-grid" columns="2">
<p:commandLink action="#{userAccountDetailController.editOrganizationMember(organizationMember.id)}" oncomplete="$('#organizationMemberModal').modal('show')" process="@this" update="@form:organizationMemberDetailPanelGroup">
<h:graphicImage url="/resources/images/icons/edit.png" styleClass="imageIcon" title="#{i18n.edit}"/>
</p:commandLink>
<p:commandLink action="#{userAccountDetailController.deleteOrganizationMember(organizationMember.id)}"
rendered="#{organizationMember.canDelete}"
onclick="if (!confirm('#{i18n.confirmDelete}')) return false" process="@this" update=":messages, @form:organizationMemberPanelGroup">
<h:graphicImage url="/resources/images/icons/delete.png" styleClass="imageIcon" title="#{i18n.delete}"/>
</p:commandLink>
</h:panelGrid>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.organizationMemberOrganizationCode}"
orderType="#{userAccountDetailView.organizationMemberScrollForm.sorting.organizationCodeOrderType}"
action="#{userAccountDetailController.refreshOrganizationMemberList}"
render="@form:organizationMemberPanelGroup"/>
</f:facet>
<h:outputText value="#{organizationMember.organizationCode}"/>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.organizationMemberRole}"
orderType="#{userAccountDetailView.organizationMemberScrollForm.sorting.roleOrderType}"
action="#{userAccountDetailController.refreshOrganizationMemberList}"
render="@form:organizationMemberPanelGroup"/>
</f:facet>
<h:outputText value="#{organizationMember.role}"/>
</p:column>

<p:column>
<f:facet name="header">
<cc:datatableHeader
label="#{i18n.organizationMemberPosition}"
orderType="#{userAccountDetailView.organizationMemberScrollForm.sorting.positionOrderType}"
action="#{userAccountDetailController.refreshOrganizationMemberList}"
render="@form:organizationMemberPanelGroup"/>
</f:facet>
<h:outputText value="#{organizationMember.position}"/>
</p:column>

</p:dataTable>

<cc:datatableScroller
page="#{userAccountDetailView.organizationMemberScrollForm.page}"
numberOfPages="#{userAccountDetailView.organizationMemberScrollView.numberOfPages}"
action="#{userAccountDetailController.refreshOrganizationMemberList}"
render="@form:organizationMemberPanelGroup"/>

</ui:fragment>

</h:panelGroup>

</div>

<p:commandButton value="#{i18n.create}" action="#{userAccountDetailController.createOrganizationMember}" styleClass="btn btn-info" oncomplete="onSuccess(args, function(){$('#organizationMemberModal').modal('show')});" process="@this" update="@form:organizationMemberDetailPanelGroup"/>

<!-- Specific Code Start -->
<!-- Specific Code End -->

</h:panelGroup>

<div class="modal modal-default" id="organizationMemberModal" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<ui:include src="/sections/account/user-account/organization-member/modal.xhtml"/>
</div>
</div>
</div>

</h:form>
<script>$('#organization-member-list-menu').addClass('active');</script>
</ui:define>
</ui:composition>
